/* Author - ravzzy */
@font-face {
	font-family: 'Lucidity Expand';
	/* Define a name for your font */
	src: url('../fonts/lucidity-expand.ttf') format('truetype');
	/* Path to your TTF font */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 8px;
	/* Root font size */

}

:root {
	--nav-bg-color: black;
	--nav-text-color: black;
	--nav-hover-color: white;
	--footer-text-color: black;
	--primary-background-color: #e61618;
	--secondary-background-color: #f1f1f1;
	--final-background-color: rgb(23, 16, 16);
	--body-text-font: 'Noto Sans JP', sans-serif;
	--header-text-font: "Bebas Neue", sans-serif;
	--header2-text-font: 'Notable', sans-serif;
	--brand-text-font: 'Lucidity Expand', sans-serif;
	--default-text-font: 'Noto Sans KR', sans-serif;

	/* Default color */
	/* Default hover effect */
}

body {
	height: 100%;
	overflow-x: hidden !important;
	font-family: var(--default-text-font);
	text-transform: uppercase;
	background-color: #f1f1f1;
}


.Header-swimlane {
	background-color: var(--secondary-background-color);
	padding: 1vh 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9vh;
	z-index: 4;
	/* Keep swimlane above the header */
	transition: transform 0.3s ease-out;
	border: 0.5px solid grey;
}

.Header-swimlane-Text {
	font-family: var(--brand-text-font);
	color: black;
	font-size: 1.7rem;
	width: 100%;
	font-weight: 600;
	position: fixed;
	top: 3%;
	left: 8%;
	z-index: 5;
}


.topper {
	visibility: hidden;
	min-height: 9vh;
	background-color: var(--secondary-background-color);
}


#form {
	display: none !important;
	/* Hides the contact us form */
}


.career-container {
	padding-top: 1vh;
	max-width: 80vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

@keyframes raiseBlinder {
	0% {
		transform: translateY(150%) scale(0.9);
		opacity: 0;
		filter: blur(10px);
	}

	60% {
		transform: translateY(10%) scale(1.05);
		opacity: 0.7;
		filter: blur(5px);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
		filter: blur(0);
	}
}

.career-section,
.collab-section {
	flex: 1;
	min-width: 30vw;
	width: auto;
	min-height: 30vh;
	height: auto;
	background: linear-gradient(135deg, rgba(237, 12, 16, 0.9), rgba(230, 22, 24, 0.9));
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	text-align: center;
	opacity: 0;
	transform: translateY(150%);
	animation: raiseBlinder 1.5s ease-out forwards;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	position: relative;
	overflow: hidden;
}

/* Parallax effect on the background */
.career-section::before,
.collab-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: inherit;
	transform: translateY(0);
	/* Default position */
	z-index: -1;
	/* Ensure it stays behind content */
	transition: transform 0.3s ease-out;
}

.career-section.show,
.collab-section.show {
	opacity: 1;
	transform: translateY(0);
}

/* Text animation */
.career-section h2,
.collab-section h2 {
	font-size: 2.5em;
	font-family: var(--body-text-font);
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 2px;
	color: var(--secondary-background-color);
	text-transform: uppercase;
	position: relative;
	animation: fadeInText 1s ease-out forwards;
}

.career-section p,
.collab-section p {
	color: var(--secondary-background-color);
	text-transform: none;
	font-size: 1.6em;
	line-height: 1.6;
	margin-bottom: 20px;
}

/* Button styles */
.career-section .btn,
.collab-section .btn {
	background: linear-gradient(135deg, #f1c47c, #f9b445);
	color: var(--secondary-background-color);
	padding: 12px 30px;
	font-weight: 700;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-size: 1.2em;
	text-decoration: none;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.career-section .btn:hover,
.collab-section .btn:hover {
	transform: scale(1.1);
	background: linear-gradient(135deg, #f5b100, #f7a800);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

/* Text fade-in animation */
@keyframes fadeInText {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.career-section,
.collab-section {
	position: relative;
	overflow: hidden;
}

.career-section::before,
.collab-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: inherit;
	z-index: -1;
	transform: translateY(0);
	/* Default position */
}

/* Parallax effect on scroll */
.parallax {
	position: relative;
	background: linear-gradient(135deg, rgba(237, 12, 16, 0.9), rgba(230, 22, 24, 0.9));
	z-index: 0;
}



h1 {
	font-family: var(--body-text-font);
	text-align: center;
	text-transform: none;
	font-size: 5rem;
	color: black;
	animation: slideDown 1s ease-in-out;
}

.text-highlight {
	color: #e61618 !important;
}

h3 {
	font-family: var(--body-text-font);
	text-align: center;
	font-size: 2em;
	text-transform: none;
	font-weight: 400;
	color: black;
	animation: slideDown 1s ease-in-out;
}

.btn {
	background: var(--secondary-background-color);
	color: black;
	padding: 12px 20px;
	font-weight: 600;
	;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.5em;
	transition: transform 0.3s ease, background 0.3s ease;
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
	/* Ensures no underline if it's an anchor tag */

}

.btn:hover {
	transform: scale(1.1);
	background: #f1c47c;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}


.footer-branding {
	padding-top: 3vh;
	padding-bottom: 3vh;
	text-align: center;
}

.footer-branding-text {
	color: var(--footer-text-color);
}

/* Responsive Styles */
@media (max-width: 768px) {

	html,
	body {
		overflow-x: hidden !important;
		width: 100%;
	}

	body {
		overflow-x: hidden !important;
	}

	.topper {
		min-height: 5vh;
	}

	.career-container {
		width: 70vw;
		flex-direction: column;
		align-items: center;
		gap: 42px;
	}


	h1 {
		font-size: 3.5rem;
	}

	h3 {
		font-size: 2em;
	}

	.career-section h2,
	.collab-section h2 {
		font-size: 2em;
	}

	.career-section p, .collab-section p {
		font-size: 1.7em;
		line-height: 1.6em;
	}


	.career-section,
	.collab-section {
		padding: 10px;
	}
}


p a {
	color: #e61618;
	/* Change text color */
	text-decoration: none;
	/* Remove underline */
	font-weight: bold;
}

p a:hover {
	text-decoration: underline;
	/* Add underline on hover */
}


.Header-ticker {
	position: fixed;
	left: 0.1%;
	top: 0;
	/*width: 3.5vw;*/
	width: 10vh;
	height: 100%;
	border-right: 0.01vw solid #c2c2c2;
	background-color: #f1f1f1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;
}

/* Ticker Container */
.ticker-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: none;
}

.ticker-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ticker-text {
	will-change: transform;
	font-size: 1.8rem;
	font-weight: 600;
	color: black;
	transform: rotate(-90deg);
	white-space: nowrap;
	align-items: center;
	justify-content: center;
}



.logo-wrapper {
	position: fixed;
	/*width: 3.65vw;*/
	width: 10.4vh;
	height: 9vh;
	z-index: 10;
}

.logo-image {
	background-image: url('../images/rooting_research_transparent.webp');
	background-size: cover;
	/* Ensures the image covers the entire div */
	background-repeat: no-repeat;
	/* Ensures no repetition of the image */
	background-position: center;
	/* Centers the image within the div */
	position: absolute;
	width: 100%;
	/* Ensures the image takes up the full width of the wrapper */
	height: 100%;
	/* Ensures the image takes up the full height of the wrapper */
	transform: scale(1);
	opacity: 1;
}


/*Navbar code starts here */
/* Transparent Navbar */
/* Navbar container */

nav {
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

nav div {
	font-size: 1.5rem;
	font-weight: 300;
}


nav a {
	/* Navbar links */
	/*background-color: var(--nav-bg-color);*/
	color: var(--footer-text-color);
	background-color: transparent;
	/*padding: 0.25em 0.75em;*/
	/*border-radius: 5em;*/
	/*color: #f1f1f1;*/
	text-decoration: none;
	margin-inline-start: 0.5em;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background: rgba(255, 255, 255, 0.1); */
	/* Transparent */
	/* backdrop-filter: blur(10px); */
	/* Glass effect */
	padding: 1.2vw 1.2vw;
	display: flex;
	justify-content: flex-end;
	/* Moves everything to the right */
	align-items: center;
	opacity: 0;
	z-index: 10;
}

/* Navigation Menu */
.nav-menu {
	list-style: none;
	padding: 0;
	margin-right: 4rem;
	display: flex;
	gap: 0.1vw;
}

.nav-menu li {
	position: relative;
}

.nav-menu li:hover>a {
	color: #e61618 !important;
	/* Change this to any color you like */
}

/* Menu Items */
.nav-menu a {
	text-decoration: none;
	/*background-color: var(--nav-bg-color);*/
	background-color: transparent;
	/* Removes background */
	color: var(--nav-text-color) !important;
	/* Ensure text color updates */
	/*color: white;*/
	font-size: 1.5rem;
	font-weight: 500;
	/*padding: 0.7vw 1vw;
	transition: background 0.3s, color 0.3s;*/
	padding: 0.5rem;
	/* Removes padding */
	transition: color 0.3s;
	/* Just transition the color */
}

/* Hover Effect */
.nav-menu a:hover {
	/*background: var(--nav-hover-color);*/
	/* Adjust hover background */
	color: var(--nav-bg-color);
	/* Use dynamic color */
	/*background: rgba(0, 0, 0, 0.06);
	color: black;*/
	border-radius: 5em;
}

/* Dropdown Menu */

/* Show Dropdown on Hover */

/* Dropdown Items */

/* Change color on hover */

.shuffle-text span {
	display: inline-block;
	position: relative;
}

.designer-footer {

	position: fixed;
	bottom: 1vh;
	/* Adjust spacing from bottom */
	right: 0%;
	/* Adjust spacing from right */
	transform: scale(0.7);
	opacity: 0;
	z-index: 3;
	color: var(--footer-text-color);
	/* Apply the dynamic text color */

}

section {
	min-height: 100vh;
}

canvas {

	display: block;
	/* Removes inline spacing issues */
	width: 100vw;
	/* Covers full screen width */
	height: 100vh;
	/* Covers full screen height */
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	/* Ensures it's centered */
	background-color: transparent;
	z-index: -100;
	touch-action: none;
	/* Prevents unwanted scrolling on touch screens */

}

.page {
	padding-inline: 2em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.loader {
	z-index: 9999;
	/* Ensure it's on top */
}

body.loading .loader {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	background-color: #f1f1f1;
}

.loader img {
	width: 15rem;
}


section>.title {
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 4em 2em;
}

.final>.title {
	padding-block-end: 0;
}

.final {
	place-items: center;
	/* Centers both horizontally & vertically */
	margin-left: 5.5vw;
	width: calc(100% - 5.5vw);
	display: grid;
	color: white;
	border-top: 1px white dashed;
	/*background-color: rgb(23, 16, 16); */
	background-color: var(--secondary-background-color);
}

@keyframes marquee {
	from {
		translate: 0% 0;
	}

	to {
		translate: -100% 0;
	}
}


@media (orientation: landscape) {
	/* Desktop */

	body {
		overflow-x: hidden !important;
	}

	html,
	body {
		width: 100%;
		max-width: 100%;
		overflow-x: hidden;
	}

	.right {
		translate: 0 50%;
	}

	.right {
		text-align: right;
	}

	.page>.right {
		width: 40%;
	}

	section>.title {
		padding-block: 5em;
	}



}

@media (orientation: portrait) {
	/* Mobile */


	body {
		overflow-x: hidden;
		/* Prevents horizontal scrolling */
		touch-action: pan-y;
		/* Ensures smooth vertical scrolling */
	}

	.Header-swimlane {
		height: 5vh;
	}

	.Header-swimlane-Text {
		font-size: 1.2rem;
		font-weight: 600;
		top: 1.5%;
		left: 15%;

	}

	/* hide the cross button */

	.change .line-1,
	.change .line-2,
	.change .line-3 {
		transform: none !important;
		opacity: 1 !important;
		visibility: visible !important;
	}

	.logo-wrapper {
		width: 5.05vh;
		height: 5vh;
	}

	.navbar {
		display: none;
		/* Completely hides the navbar on mobile */
	}

	.Header-ticker {
		width: 5vh;

	}


	/* footer-message text */

	.page .right {
		/* Correct way to target <div class="right"> inside .page */
		margin-top: 5em;
	}

	.designer-footer {
		bottom: 5px;
		/* Adjust spacing from bottom */
		right: 0%;
		/* Adjust spacing from right */
		opacity: 0;
		transform: scale(0.5);
	}

	#form {
		display: none !important;
		/* Hides the contact us form */
	}

}