/* Author - ravzzy */
@font-face {
    font-family: 'Lucidity Expand'; /* Define a name for your font */
    src: url('../fonts/lucidity-expand.ttf') format('truetype'); /* Path to your TTF font */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 8px;
	/* Root font size */

}

:root {
	--nav-bg-color: black;
	--nav-text-color: black;
	--nav-hover-color: white;
	--footer-text-color: black;
	--primary-background-color: #e61618;
	--secondary-background-color: #f1f1f1;
	--final-background-color: rgb(23, 16, 16);
	--body-text-font: 'Noto Sans JP', sans-serif;
	--header-text-font: "Bebas Neue", sans-serif;
	--header2-text-font: 'Notable', sans-serif;
	--brand-text-font: 'Lucidity Expand', sans-serif;
	--default-text-font: 'Noto Sans KR', sans-serif;

	/* Default color */
	/* Default hover effect */
}

body {
	height: 100%;
	overflow-x: hidden !important;
	font-family: var(--default-text-font);
	text-transform: uppercase;
	background-color: #f1f1f1;
}


.Header-swimlane {
	background-color: var(--secondary-background-color);
	padding: 1vh 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9vh;
	z-index: 4;
	/* Keep swimlane above the header */
	transition: transform 0.3s ease-out;
	border: 0.5px solid grey;
}

.Header-swimlane-Text {
	font-family: var(--brand-text-font);
	color: black;
	font-size: 2rem;
	width: 100%;
	font-weight: 600;
	position: fixed;
	top: 3%;
	left: 8%;
	z-index: 5;
}

.header-section {
	display: flex;
	flex-direction: row; /* Side by side layout for desktop */
	justify-content: space-between; /* Space out the text and image */
	align-items: center; /* Vertically center both text and image */
	width: 100%;
	min-height: 91vh; /* Ensure section takes enough height */
	max-height: 91vh;
	margin: 0 auto;
	padding: 0 10vh; /* Add padding to the sides for some space */
	box-sizing: border-box; /* Ensure padding doesn't affect the layout */
}

.header-text-container {

	width: 30%; /* The text container will take 30% of the width */
	font-family: var(--body-text-font);
	background-color: var(--secondary-background-color);
	color: var(--primary-background-color);
	display: flex;
	flex-direction: column; /* Stack the text vertically */
	justify-content: center; /* Vertically center the text */
	align-items: flex-start; /* Align text to the left */
	padding: 0 15vh; /* Add padding inside the text container */
	text-transform: none !important;

  }
  
  .header-text-container h1, .header-text-container h2, .header-text-container h3, .header-text-container h4, .header-text-container h5 {
	font-size: 6rem;
	font-weight: 500;	
	margin: 0; /* Remove default margins */

  }	
  /* The image container takes up the other 50% */
  .header-image-container {

	width: 70%; /* The image container will take 70% of the width */
	display: flex;
	padding-left: 10vh;
	justify-content: flex-end; /* Align image to the right */
	align-items: center; /* Vertically center the image */
	padding-right: 0; /* Add some padding to the right */

  }
  
  /* Ensure the image resizes properly */
  .header-image {
	transform: scale(0.5);
	max-width: 100%; /* Prevent image from overflowing */
	height: auto;  /* Maintain aspect ratio */
  }

/*test code start*/

.topper {
	visibility: hidden;
	min-height: 9vh;
	background-color: var(--secondary-background-color);
}

.container {
	visibility: hidden;
}

.left-content-section {
	padding-top: 5vh;
	padding-bottom: 5vh;
	min-height: 70vh;
	height: auto;
	/* Reset any inherited height */
	background-color: var(--primary-background-color);
	position: relative;
	left: 3.55vw;
	display: flex;
	align-items: stretch;
	/* Ensure child elements stretch to match height of the section */
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	/* Allows wrapping on smaller screens */
	width: 100%;
	margin: 0 auto;
}

.left-section {
	min-height: 70dvh;
	height: auto;
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: left;
	/* Center horizontally within the section */
	flex: 1;
	margin-left: 15dvh;
	/* Shift the section 20% of the viewport height from the left */

}

.left-text-box {
	padding: 10px;
	background-color: var(--secondary-background-color);
	border-radius: 0.5vw;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 80dvh;
	height: auto;
	text-align: justify;
	font-size: 1.3rem;
}

.left-section h2 {
	font-family: var(--body-text-font);
	font-weight: 600;
	font-size: 1.5em;
	margin-top: 6vh;
	margin-bottom: 6vh;
	text-transform: none;
	text-align: center;
	z-index: 2;

}

.left-section p {
	margin-inline: 15vh;
	font-family: var(--body-text-font);
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 1px;
	z-index: 2;
	text-transform: none;
	line-height: 2;
	font-size: 1.5rem;
}

/* Styling for the image inside the text box */
.left-text-box img {
	width: 100%;
	height: auto;
	max-width: 100%;
	transform: scale(0.8);
    display: block;
	z-index: 2;
}


/* The dividing line */
.middle-divider {
	margin-top: 2dvh;
	margin-bottom: 1dvh;
	position: absolute;
	/* To position it relative to the section */
	top: 0;
	/* Align to top of section */
	bottom: 0;
	/* Stretch to the bottom of the section */
	left: 50%;
	/* Position the divider at the center horizontally */
	transform: translateX(-50%);
	/* Offset by 50% of its own width to center it exactly */
	border-left: 0.01dvh solid var(--secondary-background-color);
	z-index: 1;
}

/* Right text styling */
.right-section {
	min-height: 70dvh;
	height: 0;
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: center;
	/* Center horizontally within the section */
	flex: 1;
	margin-right: 15dvh;
	/* Some padding from the right edge */
}

.right-section .right-section-text {
	font-family: var(--header2-text-font);
	text-align: center;
	font-size: 5rem;
	color: var(--secondary-background-color);
	font-weight: 500;
}

.quote-section {
	padding-top: 5vh;
	padding-bottom: 5vh;
	min-height: 20vh;
	height: auto;
	display: flex;
	background-color: var(--primary-background-color);
	position: relative;
	left: 3.55vw;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;

}

.quote-text {
	position: absolute;
	text-align: center;
	font-size: 2rem;
	color: var(--secondary-background-color);
	top:50%;
	text-transform: none;
	transform: translateY(-50%) translateX(-50%); /* Adjust the position back to center it */
	left: 50%;
}

.right-content-section {
	padding-top: 5vh !important;
	padding-bottom: 5vh !important;
	min-height: 170vh;
	height: auto;
	/* Reset any inherited height */
	background-color: var(--primary-background-color);
	position: relative;
	left: 3.55vw;
	display: flex;
	align-items: stretch;
	/* Ensure child elements stretch to match height of the section */
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	/* Allows wrapping on smaller screens */
	width: 100%;
	margin: 0 auto;
}

.right-section-2 {
	min-height: 100%;
	height: auto;
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: right;
	/* Center horizontally within the section */
	flex: 1;
	margin-right: 15dvh;
	/* Shift the section 20% of the viewport height from the left */

}

.right-text-box {
	padding: 10px;
	background-color: var(--secondary-background-color);
	border-radius: 0.5vw;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* Align items to the top */
	max-width: 80dvh;
	height: auto;
	font-size: 1.3rem;
	text-align: justify; /* Ensures the paragraphs are aligned left */

}

.p-center-align {
	text-align: center !important;
}

.right-section-2 h2 {
	font-family: var(--body-text-font);
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 6vh;
	margin-bottom: 6vh;
	text-align: center;
	text-transform: none;
	z-index: 2;

}

.right-section-2 p {
	margin-inline: 15vh;
	font-family: var(--body-text-font);
	line-height: 2;
	font-weight: 500;
	text-transform: none;
	font-size: 1.5rem;
	margin-top: 10px;
	text-align: justify; /* Ensure text is left-aligned */
	z-index: 2;

}

/* Styling for the image inside the text box */
.right-text-box img {
	padding: 0;
	width: 100%;
	height: auto;
	transform: scale(0.8);
	display: block; /* Ensure the image behaves like a block element */
	margin: 0 auto; /* Centers the image horizontally */
	z-index: 2;

}

.left-section-2 {
	min-height: 100%;
	height: auto;
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: center;
	/* Center horizontally within the section */
	flex: 1;
	margin-left: 15dvh;
	/* Some padding from the right edge */
}

.left-section-2 .left-section-text {
	font-family: var(--header2-text-font);
	text-align: center;
	font-size: 5rem;
	color: var(--secondary-background-color);
	font-weight: 500;
}


/* Responsive Styles */
@media (max-width: 768px) {

	html,
	body {
		overflow-x: hidden !important;
		width: 100%;
	}

	/* Reset the width of any sections causing overflow */
	.left-content-section,
	.right-content-section,
	.quote-section,
	.right-section-2 {
		overflow-x: hidden;
		width: 100%;
	}

	/* Ensure the body doesn’t overflow */
	body {
		overflow-x: hidden !important;
	}

	/* Additional fix for any child elements that could be overflowing 
	  * {
		overflow-x: hidden;
	  } */


	.topper {
		min-height: 5vh;
		background-color: var(--secondary-background-color);
	}

	.header-section {
		flex-direction: column-reverse;
		margin-left: 2vh;
		max-height: 95vh;
		min-height: 95vh; /* Allow the section to adjust its height */
		padding: 0; /* Reduce padding for smaller screens */

	}
	
	  /* Image container (on mobile, image will be at the top) */
	  .header-image-container {
		position: relative;
		top: 0;
		height: 25vh;
		padding-left: 2vh;
		align-items: flex-end; /* Ensure the content aligns to the top */
        width: 90%; /* Image container takes 100% width */
		background-image: url('../images/globe_video.gif');
		background-size: contain;
	}

	.header-image {
		/*max-width: 100%;
		max-height: 100%;
		object-fit: contain;
        transform: scale(0.6);
        height: auto; */ /* Maintain aspect ratio */
		display: none;
	  }
	
	  /* Text container on mobile */
	  .header-text-container {
		position: relative;
		height: 65vh;
		padding-top: 1vh;
		align-items: flex-start; /* Ensure the content aligns to the top */
		width: 100%; /* Text takes full width on mobile */
		padding-left: 7vh;
		justify-content: start;
		background-color: var(--secondary-background-color);
	  }
	
	  .header-text-container h1, 
	  .header-text-container h2, 
	  .header-text-container h3, 
	  .header-text-container h4, 
	  .header-text-container h5 {
		font-size: 5rem; /* Smaller font size for mobile */
	  }


	.left-content-section {
		padding-top: 4vh;
		padding-bottom: 4vh;
		padding-inline: 2em;
		margin: 0%;
		padding-left: 4vw;
		max-width: calc(100vw - 4vw) !important;
		overflow-x: hidden !important;
		padding-bottom: 2%;

		display: flex;
		flex-direction: column;
		/* Stack children vertically */
		min-height: 0;
		height: auto;
		/* Prevent horizontal overflow */
		flex-direction: column-reverse;
		/* Reverse the order: right-section goes above left-section */

	}

	.right-section {
		padding-bottom: 2%;
		margin: 0%;
		display: flex;
		justify-content: center;
		/* Center horizontally */
		align-items: center;	
		/* Center vertically */
		min-height: 0;
		height: auto;
		/* You can adjust this to control the height of the right section */
		width: 100%;
		/* Ensure the right section fits within the container */
		/* Remove flex: 1 to prevent overflow */
	}

	.right-section .right-section-text {
		font-size: 2.8rem;
	}


	.left-section {
		padding-bottom: 10%;
		display: flex;
		flex-direction: column;
		/* Stack content vertically */
		justify-content: flex-start;
		min-height: 0;
		height: auto;
		flex: 1;
		position: relative;
		margin-left: 7dvw;
		max-width: 80dvw;
	}

	.left-section h2 {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}


	.left-section p {
		margin-inline: 7vh;
	}


	
	.left-text-box img {
		transform: scale(0.8);		/* Make the image smaller on smaller screens */
		/* Make the image smaller on smaller screens */
	}

	.quote-section {
		padding-inline: 2em;
		margin: 0%;
		padding-left: 4vw;
		max-width: calc(100vw - 4vw) !important;
		border: none;
		min-height: 10dvh;
		height: 0;
	}

	.quote-text {
		width: 70%;
		font-size: 1.5em;
		left: 50%;
		/* Position the divider at the center horizontally */
		transform: translateX(-50%);
	}


	/*Section 2 */
	.right-content-section {
		padding-top: 5%;
		padding-bottom: 5%;
		padding-inline: 2em;
		margin: 0;
		gap: 0;
		padding-left: 4vw;
		max-width: calc(100vw - 4vw) !important;
		overflow-x: hidden !important;
		display: flex;
		flex-direction: column;
		/* Stack children vertically */
		min-height: 0vh;
		height: auto;
		/* Prevent horizontal overflow */
	}

	.left-section-2 {
		padding-top: 5%;
		padding-bottom: 5%;
		display: flex;
		justify-content: center;
		/* Center horizontally */
		align-items: center;
		/* Center vertically */
		min-height: 2vh;
		margin-left: 0;
		height: auto;
		/* You can adjust this to control the height of the right section */
		width: 100%;
		/* Ensure the right section fits within the container */
		/* Remove flex: 1 to prevent overflow */
	}


	.left-section-2 .left-section-text {
		font-size: 2.8rem;
	}

	.right-section-2 {
		padding-bottom: 10%;
		display: flex;
		flex-direction: column;
		/* Stack content vertically */
		justify-content: flex-start;
		min-height: 90vh;
		height: auto;
		flex: 1;
		position: relative;
		margin-left: 7dvw;
		max-width: 80dvw;
		margin-right: 0;
	}


	.right-section-2 h2 {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}

	.right-section-2 p {
		margin-inline: 7vh;
	}
	

	.right-text-box img {
		transform: scale(0.9);		/* Make the image smaller on smaller screens */
	}

}

/*test code end*/




.middle-section {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 6vh 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	/* Adjust this to match the height of your header */

}

.middle-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e61618;
	z-index: 2;
}


/* Bullet-service and bullet-point code start */
/*
.bullet-service {
	padding: 10px; 
	border-radius: 8px; 
	margin: 10px 0; 
	background-color: #e5ba7e;
	color: #800000 !important;
	font-weight: 600 !important;
	text-align: left !important;
	padding-left: 2%;
}

.bullet-point {

	transform: translateY(30px);

}

.bullet-point::before {
	top: 0;
	left: -30px;
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	50% {
		opacity: 1;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.bullet-point.show {
	animation: bounceIn 3s ease-out forwards;
}

.bullet-point.show::before {
	animation: popIn 3s ease-in-out forwards;
}


@keyframes popIn {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.bullet-point:hover {
	transform: scale(1.1) rotate(5deg);
	color: #e61618;
	cursor: pointer;
	transition: all 0.3s ease;
}

.bullet-point:hover::before {
	color: #e61618;
	transform: scale(1.3);
	transition: all 0.3s ease;
}

.bullet-point:nth-child(1) {
	animation-delay: 0s;
}

.bullet-point:nth-child(2) {
	animation-delay: 0.3s;
}

.bullet-point:nth-child(3) {
	animation-delay: 0.6s;
}

.bullet-point:nth-child(4) {
	animation-delay: 0.9s;
}

.bullet-point:nth-child(5) {
	animation-delay: 1.2s;
}

.bullet-point:nth-child(6) {
	animation-delay: 1.5s;
}
.bullet-point:nth-child(7) {
	animation-delay: 1.8s;
}
.bullet-point:nth-child(8) {
	animation-delay: 2.1s;
}

.bullet-point:nth-child(9) {
	animation-delay: 2.4s;
}

.bullet-point:nth-child(10) {
	animation-delay: 2.7s;
}
*/
/* Bullet-service and bullet-point code end */


p a {
	color: #e61618;
	/* Change text color */
	text-decoration: none;
	/* Remove underline */
	font-weight: bold;
}

p a:hover {
	text-decoration: underline;
	/* Add underline on hover */
}


.Header-ticker {
	position: fixed;
	left: 0.1%;
	top: 0;
	/*width: 3.5vw;*/
	width: 10vh;
	height: 100%;
	border-right: 0.01vw solid #c2c2c2;
	background-color: #f1f1f1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;
}

/* Ticker Container */
.ticker-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: none;
}

.ticker-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ticker-text {
	will-change: transform;
	font-size: 1.8rem;
	font-weight: 600;
	color: black;
	transform: rotate(-90deg);
	white-space: nowrap;
	align-items: center;
	justify-content: center;
}



.logo-wrapper {
	position: fixed;
	/*width: 3.65vw;*/
	width: 10.4vh;
	height: 9vh;
	z-index: 10;
}

.logo-image {
	background-image: url('../images/rooting_research_transparent.webp');
	background-size: cover;
	/* Ensures the image covers the entire div */
	background-repeat: no-repeat;
	/* Ensures no repetition of the image */
	background-position: center;
	/* Centers the image within the div */
	position: absolute;
	width: 100%;
	/* Ensures the image takes up the full width of the wrapper */
	height: 100%;
	/* Ensures the image takes up the full height of the wrapper */
	transform: scale(1);
	opacity: 1;
}


/*Navbar code starts here */
/* Transparent Navbar */
/* Navbar container */

nav {
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

nav div {
	font-size: 1.5rem;
	font-weight: 300;
}


nav a {
	/* Navbar links */
	/*background-color: var(--nav-bg-color);*/
	color: var(--footer-text-color);
	background-color: transparent;
	/*padding: 0.25em 0.75em;*/
	/*border-radius: 5em;*/
	/*color: #f1f1f1;*/
	text-decoration: none;
	margin-inline-start: 0.5em;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background: rgba(255, 255, 255, 0.1); */
	/* Transparent */
	/* backdrop-filter: blur(10px); */
	/* Glass effect */
	padding: 1.2vw 1.2vw;
	display: flex;
	justify-content: flex-end;
	/* Moves everything to the right */
	align-items: center;
	opacity: 0;
	z-index: 10;
}

/* Navigation Menu */
.nav-menu {
	list-style: none;
	padding: 0;
	margin-right: 4rem;
	display: flex;
	gap: 0.1vw;
}

.nav-menu li {
	position: relative;
}

.nav-menu li:hover>a {
	color: #e61618 !important;
	/* Change this to any color you like */
}

/* Menu Items */
.nav-menu a {
	text-decoration: none;
	/*background-color: var(--nav-bg-color);*/
	background-color: transparent;
	/* Removes background */
	color: var(--nav-text-color) !important;
	/* Ensure text color updates */
	/*color: white;*/
	font-size: 1.5rem;
	font-weight: 500;
	/*padding: 0.7vw 1vw;
	transition: background 0.3s, color 0.3s;*/
	padding: 0.5rem;
	/* Removes padding */
	transition: color 0.3s;
	/* Just transition the color */
}

/* Hover Effect */
.nav-menu a:hover {
	/*background: var(--nav-hover-color);*/
	/* Adjust hover background */
	color: var(--nav-bg-color);
	/* Use dynamic color */
	/*background: rgba(0, 0, 0, 0.06);
	color: black;*/
	border-radius: 5em;
}

/* Dropdown Menu */
.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	/*background: transparent;*/
	/*background: var(--nav-bg-color); /* Dynamic Background */
	/*	backdrop-filter: blur(10px);*/
	list-style: none;
	padding: 1.2vw 0;
	min-width: 2vw;
	border-radius: 0.5vw;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
	display: block;
}

/* Dropdown Items */
.dropdown-menu li {
	text-align: left;
}

.dropdown-menu a {
	display: block;
	padding: 0.7vw 1.4vw;
	color: var(--nav-text-color);
	/*color: white;*/
	transition: background 0.3s, color 0.3s;
}

/* Change color on hover */
.dropdown-menu a:hover {
	background: var(--nav-hover-color);
	/* Dynamic Hover */
	color: var(--nav-bg-color);
	/* Use dynamic color */
	/*background: rgba(0, 0, 0, 0.06);
	color: black;*/
}

.shuffle-text span {
	display: inline-block;
	position: relative;
}

/* Hamburger Menu for Mobile*/
.hamburger-menu {
	top: 0%;
	width: 4rem;
	height: 4rem;
	position: fixed;
	right: 5rem;
	z-index: 15;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	cursor: pointer;
	transition: right 0.7s;
	opacity: 0;
}

.change .hamburger-menu {
	right: 17rem;
}

.line {
	width: 100%;
	height: 0.2rem;
	background-color: black;
	box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.change .line {
	background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
	transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
	opacity: 0;
	visibility: hidden;
}

.change .line-3 {
	transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.hamburger-menu span {
	/*close button */
	position: absolute;
	left: 5rem;
	width: 4rem;
	height: 4rem;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 0.5rem;
	letter-spacing: 0.1rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
	display: none;
	z-index: 15;

	/* Hides the close button */

}

.change .hamburger-menu:hover span {
	opacity: 1;
	visibility: visible;
}

.hamburger-menu span::before {
	content: "";
	position: absolute;
	border-left: 1rem solid transparent;
	border-right: 1rem solid white;
	border-bottom: 1rem solid transparent;
	border-top: 1rem solid transparent;
	top: 50%;
	left: -2rem;
	transform: translateY(-50%);
}

.sidebar {
	/*width: 22em; logic moves to js script */
	height: 50vh;
	position: fixed;
	/*background-color: rgba(0, 0, 0, 0.592);*/
	background-color: #e61618;
	backdrop-filter: blur(20vh);
	opacity: 1;
	top: 0;
	right: -100vh;
	transition: right 0.5s;
	z-index: 14;
}

/* way to make sure the side bar background matches the site background 
  .sidebar::before{
	background-image: url('../assets/images/background_img.jpg');
  } */


.change .sidebar {
	right: 0;
}

.menu {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-item {
	display: block;
	width: 100%;
	/* Ensure it fills the sidebar */
	padding: 2vw 0;
	text-align: center;
	border-bottom: 0.01vw solid white;
	border-top: 0.01vw solid white;

}

.menu-item a {
	text-decoration: none;
	/* Removes underline */
	color: white;
	/* Ensures text color is white (or your desired color) */
}


/* Active (tapped) effect */
.menu-item:active,
.menu-item.selected {
	background-color: rgba(255, 255, 255, 0.2);
	/* Subtle highlight */
}



.menu-link {
	font-size: 4rem;
	font-weight: 800;
	color: black;
	position: relative;
	display: inline-block;
	transition: transform 1s ease-in-out, opacity 1s ease-in-out;
	transform-origin: bottom;
	/* Shrink downward */
}

.menu-link::before {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
	width: 100%;
}

.page-transition-overlay {
	position: fixed;
	top: 0;
	right: -100vw;
	/* Start completely off-screen */
	width: 0;
	height: 100vh;
	background-color: #e61618;
	z-index: 9999;
	transition: transform 1s ease-in-out, width 0.5s ease-out;
	transform-origin: right center;
	/* Ensures animation starts from the right */
}


/* First transition: slide from ticker’s right edge to cover the screen */
.page-transition-overlay.active {
	right: 0;
	width: calc(100vw - var(--ticker-width, 100px));
	/* Expands from ticker’s right edge */
}

/* Second transition: slide off to the right, revealing the new page */
.page-transition-overlay.reverse {
	right: -100vw;
	width: calc(100vw - var(--ticker-width, 100px));
	transition: transform 1s ease-in-out, width 0.5s ease-in-out;
}

/* Shrink effect for menu links */
.menu-link.shrink {
	transform: scaleY(0);
	opacity: 0;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


/* Navbar code ends here */
/* Disabling the rotating text logo for now */
/*
.circle {
	opacity: 0;
	width: 8vw;
	height: 8vw;
	max-width: 100px;
	max-height: 100px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  
	background-image: url('images/dices.png');
	background-size: cover;
  
	background-position: center;
	border-radius:50%;
	animation: rotateText 10s linear infinite;
	-webkit-animation: rotateText 10s linear infinite; /* Safari Fix for rotating text being clipped */

/*} */

/* Rotating text inside the circle */
/*
  .rotating-text {
	opacity: 0; /* Initially hidden and loaded via java script */
/*display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	/*color: #333;*/
/*color: rgb(67, 67, 67);
	 will-change: transform; /* Safari Fix for rotating text being clipped */
/*transform-style: preserve-3d; /* Safari Fix for rotating text being clipped */
/* backface-visibility: hidden; /* Safari Fix for rotating text being clipped */
/*  -webkit-transform-style: preserve-3d;  /* Safari Fix for rotating text being clipped */
/*-webkit-backface-visibility: hidden;  /* Safari Fix for rotating text being clipped */

/* } */

/*
  .rotating-text span {
	position: absolute;
	transform-origin: center center;
	transform: rotate(0deg);
	-webkit-transform-origin: center center; /* Safari Fix for rotating text being clipped */
/* -webkit-transform: rotate(0deg); /* Safari Fix for rotating text being clipped */
/* } */

/* The circle container */
/*.circle-container {
	position: fixed;
	top: 1%;
	left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	opacity: 0;  /* Initially hidden */
/*visibility: hidden;  /* Prevents interaction before animation starts */
/*animation: fadeIn 1s ease-in-out 2s forwards; /* Delays visibility for 4s */
/*transform: scale(0.7); /*reduces the size of the rotating circle logo */
/* } 

/* Fade-in animation */
/*
@keyframes fadeIn {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	100% {
		opacity: 0.8;
		visibility: visible;

	}
}
*/

.designer-footer {

	position: fixed;
	bottom: 1vh;
	/* Adjust spacing from bottom */
	right: 0%;
	/* Adjust spacing from right */
	transform: scale(0.7);
	opacity: 0;
	z-index: 3;
	color: var(--footer-text-color);
	/* Apply the dynamic text color */

}

section {
	min-height: 100dvh;
}

.roadmap {
	min-height: 0;
}

.fat {
	font-family: var(--header2-text-font);
	font-weight: 300;
	font-size: 5rem;
}

.thin {
	font-family: var(--header-text-font);
	text-transform: none;	
	font-size: 2rem;
	font-weight: 300;
}

.thin-jp {
	font-weight: 400;
	font-size: 2rem;
}

canvas {

	display: block;
	/* Removes inline spacing issues */
	width: 100vw;
	/* Covers full screen width */
	height: 100vh;
	/* Covers full screen height */
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	/* Ensures it's centered */
	background-color: transparent;
	z-index: -100;
	touch-action: none;
	/* Prevents unwanted scrolling on touch screens */

}

.page {
	padding-inline: 2em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.loader {
	z-index: 9999;
	/* Ensure it's on top */
}

body.loading .loader {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	background-color: #f1f1f1;
}

.loader img {
	width: 15rem;
}

.avatars {
	overflow-x: hidden;
	position: relative;
	background-color: white;
}

.avatars section .top {
	padding-block: 4em;
	padding-inline: 2em;
}

.top>div:not(:last-child) {
	text-align: center;
}

.top div:last-child,
.about div:last-child {
	display: flex;
	flex-direction: column;
	text-align: center;
}


section>.title {
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 4em 2em;
}

.title-num {
	font-size: 1.5rem;
}

.final>.title {
	padding-block-end: 0;
}

.cards {

	padding-inline: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-inline: auto;
}

.white-text {
	color: white;
	opacity: 0;
	visibility: hidden;
	/* Prevents clicks/interactions while hidden */
}

.card {
	left: 10%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 0.75rem;
	padding: 2rem;
	background-color: #e61618;
	width: min(37rem, 100%);
	height: 22rem;
	transition: transform 0.2s ease-in-out;
}

.final {
	display: flex;
	flex-direction: column;
	gap: 5em;
	color: white;
	border-top: 1px white dashed;
	/*background-color: rgb(23, 16, 16); */
	background-color: var(--primary-background-color);
	padding-inline: 2em;
}

.dev img {
	max-width: 100%;
	z-index: 2;
}

.dev {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1em;
	text-align: center;
	margin-inline: auto;
	max-width: 40rem;
}

.vertical-line {
	margin-inline: auto;
	height: 7rem;
	width: 1px;
	background-color: white;
}

.about {
	margin-inline: auto;
}

footer {
	text-align: center;
	padding-inline: 2em;
	margin-bottom: 2em;
}

footer>div:not(.socials) {
	font-size: 5rem;
	font-weight: 800;
	color: transparent;
	-webkit-text-stroke: 1px white;
	line-height: 1;
	margin-block: 2rem;
}

.socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}


.btn {
	display: flex;
	/* Enables centering */
	justify-content: center;
	/* Centers text horizontally */
	align-items: center;
	/* Centers text vertically */
	margin-inline: auto;
    color: black;
	text-decoration: none;
    border: 2px solid white;
	background-color: white;
	padding: 8px 30px;
	/* Adjusted padding for better text balance */
	font-size: 2rem;
	text-align: center;
	border-radius: 2em;
	font-weight: 600;
	width: fit-content;
	/* Adapts width to content */
	min-width: 10vw;
	/* Ensures some width */
}

.btn:hover
{
    background-color: rgb(23, 16, 16);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.text-spin {
	overflow-x: hidden;
	color: transparent;
	-webkit-text-stroke: 1px white;
	font-size: 5rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	font-weight: 800;
	top: 10%;
	left: -2em;
	line-height: 0.9;
}

.first-line,
.second-line,
.third-line {
	display: flex;
}

.first-line>div {
	animation: marquee 20s infinite reverse;
}

.second-line>div {
	animation: marquee 25s infinite;
}

.third-line>div {
	animation: marquee 25s infinite reverse;
}

@keyframes marquee {
	from {
		translate: 0% 0;
	}

	to {
		translate: -100% 0;
	}
}

.founder-name {
	font-family: var(--body-text-font);
	text-transform: none;
	font-size: 3rem;
}

.founder-title {
	font-family: var(--body-text-font);
	text-transform: none;
	font-size: 2rem;
}

.founder-description {
	margin-inline: 4vh;
	font-family: var(--body-text-font);
	line-height: 2;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 1px;
	z-index: 2;
	text-transform: none;
	color: black;
	font-size: 1.5rem;
}

.founder-description-box {
	padding: 30px;
	background-color: var(--secondary-background-color);
	border-radius: 0.5vw;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	justify-content: center;
	text-align: justify;
	font-size: 1.3rem;
	margin: 0 auto; /* This will center the box horizontally */

}
/*
@media (max-width: 1200px) {
	body {
		overflow-x: hidden;
		touch-action: pan-y;
	}

	.Header-swimlane {
		height: 6vh;
	}

	.change .line-1,
	.change .line-2,
	.change .line-3 {
		transform: none !important;
		opacity: 1 !important;
		visibility: visible !important;
	}

	.navbar {
		display: none;
	}

	.Header-ticker {
		width: 8vw;

	}


	.fat {
		font-size: 2rem;
		position: relative;
		left: 55% !important;
		transform: translateX(-50%) !important;
		margin-bottom: 1em;
	}

	.dev img {
		position: relative;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.founder-name {
		position: relative;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.thin {
		position: relative;
		width: 300px;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.thin-jp {
		position: relative;
		font-size: 1.5rem;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}


	body>div.container>section.final>div:nth-child(6) {
		display: none !important;
	}

	footer>div:not(.socials) {
		margin-inline: auto;
		width: 100%;
		font-size: 2rem;
	}

	.socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	.btn {
		padding: 1vw 4vw;
		width: 40%;
		text-align: center;

	}

	.footer-message {
		position: relative;
		left: 52% !important;
		transform: translateX(-50%) !important;
	}

	body>div.container>section.final>footer>p {
		position: relative;
		margin-bottom: 20px;
		left: 52% !important;
		transform: translateX(-50%) !important;
		font-size: 8px;
	}

	.hero-title {
		font-size: 3rem;
	}

	.hero-title {
		margin-top: 3em;
	}

	.hero-content {
		margin-top: 5em;
	}

	.right-content p:nth-of-type(2) {
		color: #e61618;
	}

	.page.two {
		margin-top: 2em;
	}

	.page .right {
		margin-top: 5em;
	}

	.cards {
		flex-direction: column;
	}

	.card {

		position: relative;
		width: 150%;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.designer-footer {
		bottom: 5px;
		right: 0%;
		opacity: 0;
		transform: scale(0.5);
	}

	#form {
		display: none !important;
	}

} */


@media (orientation: landscape) {
	/* Desktop */

	body {
		overflow-x: hidden !important;
	}

	html, body {
		width: 100%;
		max-width: 100%;
		overflow-x: hidden;
	  }

	.text-spin {
		left: -250%;
		font-size: 8rem;
	}

	.hamburger-menu {
		display: none;
	}

	.menu-item {
		display: none;
	}

	.menu-link {
		display: none;
	}

	.sidebar {
		display: none;
	}

	.socials {
		flex-direction: row;
	}

	.btn {
		margin: 0;
	}

	.right {
		translate: 0 50%;
	}

	.right {
		text-align: right;
	}

	.page>.right {
		width: 40%;
	}

	.top>div:last-child,
	.about>div:last-child {
		margin-top: 2em;
		flex-direction: row;
		justify-content: center;
		gap: 2em;
	}

	.avatars .thin {
		font-size: 0.85rem;
	}

	.avatars .fat {
		font-size: 3.5rem;
	}

	.top>div:last-child div,
	.about>div:last-child div {
		width: 40%;
	}

	.avatars section .top {
		padding-block: 10em;
	}

	section>.title {
		padding-block: 5em;
	}

	.roadmap .cards {
		justify-content: start;
	}

	

}

@media (orientation: portrait) {
	/* Mobile */


	body {
		overflow-x: hidden;
		/* Prevents horizontal scrolling */
		touch-action: pan-y;
		/* Ensures smooth vertical scrolling */
	}

	.Header-swimlane {
		height: 5vh;
	}

	.Header-swimlane-Text {
		font-size: 1.5rem;
		font-weight: 600;
		top: 1.5%;
		left: 15%;

	}

	header {
		top: 5vh;
		font-size: 1.5rem;
		height: 8.5vh;
		padding: 0vh;
		left: 5.05vh;

	}

	.background-video {
        display: block; /* Show the video on mobile devices */
    }

	.header-image {
		display: none;
	}

	header h1 {
		position: relative;
		left: 20% !important;
		transform: translateX(-50%) !important;
	}

	/* hide the cross button */

	.change .line-1,
	.change .line-2,
	.change .line-3 {
		transform: none !important;
		opacity: 1 !important;
		visibility: visible !important;
	}

	.logo-wrapper {
		width: 5.05vh;
		height: 5vh;
	}

	.navbar {
		display: none;
		/* Completely hides the navbar on mobile */
	}

	.Header-ticker {
		width: 5vh;

	}

	.fat {
		/* founder name */
		font-size: 2.8rem;
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
		margin-bottom: 1em;
		/* Adjust the space as needed */
	}

	/* Adjust the space as needed for founder image */
	.dev img {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.founder-name {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.founder-title {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.thin {
		position: relative;
		/* Set the parent to relative to enable positioning */
		width: 300px;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.thin-jp {
		position: relative;
		/* Set the parent to relative to enable positioning */
		font-size: 1.5rem;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.founder-description-box {
		margin-left: 9dvw;
		width: 90%;
	}

	/* hide the 2nd vertical line in mobile view */
	body>div.container>section.final>div:nth-child(6) {
		display: none !important;
	}

	footer>div:not(.socials) {
		margin-inline: auto;
		margin-left: 2vh;
		width: 92vw;
		font-size: 2rem;
	}

	.socials {
		width: 92vw;
		display: flex;
		flex-direction: column;
		/* Stack buttons vertically */
		align-items: center;
		/* Center buttons */
		gap: 10px;
		/* Add spacing between buttons */
	}

	.btn {
		padding: 1vw 4vw;
		width: 40%;
		text-align: center;

	}

	/* footer-message text */
	.footer-message {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 50% !important;
		transform: translateX(-50%) !important;
	}

	body>div.container>section.final>footer>p {
		width: 90vw;
		position: relative;
		/* Set the parent to relative to enable positioning */
		margin-bottom: 20px;
		left: 1vh;
		text-align: center;
		font-size: 8px;
	}

	.page .right {
		/* Correct way to target <div class="right"> inside .page */
		margin-top: 5em;
	}

	.cards {
		flex-direction: column;
		/* Stack cards for better fit */
	}

	.card {

		position: relative;
		width: 150%;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.designer-footer {
		bottom: 5px;
		/* Adjust spacing from bottom */
		right: 0%;
		/* Adjust spacing from right */
		opacity: 0;
		transform: scale(0.5);
	}

	.vertical-line {
		display: none !important;
	}

	#form {
		display: none !important;
		/* Hides the contact us form */
	}

}