/* Author - ravzzy */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 8px;  /* Root font size */

}


body {
	height: 600vh;
	font-family: 'Noto Sans KR', sans-serif;
	text-transform: uppercase;
	background-color: #f1f1f1;
	overflow-x: hidden;
}


.Header-swimlane {
	background-color: #e61618;
	padding: 1vh 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
	z-index: 10;
	/* Keep swimlane above the header */
	transition: transform 0.3s ease-out;
}

header {
	background-color: white;
	color: black;
	padding: 2vh;
	font-size: 2.5rem;
	width: 100%;
	position: fixed;
	top: 7vh;
	left: 0;
	z-index: 3;
	/* Keep header below swimlane */
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
	transition: transform 0.3s ease-out;
}


.middle-section {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 6vh 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	/* Adjust this to match the height of your header */

}

.middle-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e61618;
	z-index: 2;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.timeline-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 55vw;
	position: relative;
	margin-top: 30vh;
}

.timeline-wrapper {
	display: flex;
	justify-content: space-between;
	/* Proper spacing between left and right */
	align-items: center;
	gap: 1vw;
	width: 100%;
}



.timeline-item {
	background: white;
	padding: 1vw;
	margin: 1vw 0;
	border-radius: 0.5vw;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 3;
	opacity: 0;
	transform: translateY(2vw);
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


.timeline-item.left {
	left: -11vw;
	/* use this for horizontal alignment */
	width: 60%;
	padding: 1vw;
	/* Adjust padding for spacing */
	font-size: 2.25rem;
}

.timeline-item.left,
.timeline-item.right {
	flex-grow: 1;
	/* Allows it to expand */
	max-width: 100%;
	max-height: 150vh;
	/* Prevents cutting off on smaller screens */
	width: auto !important;
	/* Prevents restrictions */
	text-align: center;
	/* Ensures proper text positioning */
}


/* first occurrence of the box on the left */
.timeline-container>div:nth-child(2)>.timeline-item.left {
	top: 20vh !important;
	/* disables the transition of the first box, so it doesn't look weird on homepage */
	opacity: 1;
	/* Fully visible */
	transform: translateY(0);
	/* No movement */
	transition: none;
	/* Disable transition */
}

/* 2nd occurence of the box on the left */
.timeline-container>div:nth-child(8)>.timeline-item.left {
	top: 60vh !important;
}

/* 3rd occurence of the box on the left */
.timeline-container>div:nth-child(14)>.timeline-item.left {
	top: 40vh !important;
}



.timeline-item.left h2 {
	text-align: center;
	font-size: 2rem;
	/* Adjust heading size */
	font-weight: bold;
	/* Optional: Adjust weight */
}

.timeline-item.left p {
	text-align: center;
	font-size: 1.375rem;
	/* Adjust paragraph size */
	line-height: 1.5;
	/* Improve readability */
}

.timeline-item.left img {
	max-width: 100%;
	max-height: 30vh;
	height: auto;
	object-fit: contain;
}

#bullet_service {
	text-align: left;
}

p a {
	color: #e61618;
	/* Change text color */
	text-decoration: none;
	/* Remove underline */
	font-weight: bold;
}

p a:hover {
	text-decoration: underline;
	/* Add underline on hover */
}

.timeline-item.right {
	left: 13vw;
	/* use this for horizontal alignment */
	width: 60%;
	padding: 1vw;
	/* Adjust padding for spacing */
	font-size: 2rem;
	/* Modify font size */
}

/* first occurence on the right */
.timeline-container>div:nth-child(5)>.timeline-item.right {
	top: -25vh !important;
}

/* 2nd occurence on the right*/
.timeline-container>div:nth-child(11)>.timeline-item.right {
	top: -30vh !important;
}


.timeline-item.right h2 {
	text-align: center;
	font-size: 2rem;
	/* Adjust heading size */
	font-weight: bold;
	/* Optional: Adjust weight */
}

.timeline-item.right p {
	text-align: center;
	font-size: 1.375rem;
	/* Adjust paragraph size */
	line-height: 1.5;
	/* Improve readability */
}

.timeline-item.right img {
	max-width: 100%;
	max-height: 30vh;
	height: auto;
	object-fit: contain;
	display: block;
	/* Ensures proper margin auto centering */
	margin: 0 auto;
	/* Centers horizontally */
}


.timeline-divider {
	position: absolute;
	left: 50%;
	top: -5%;
	width: 0.05vw;
	height: 100%;
	background-color: white;
	transform: translateX(-50%);
	z-index: 2;
}

.timeline-connector {
	color: white;
	font-size: 1.5rem;
	text-align: center;
	width: 100%;
	margin: 2vh 0;
	opacity: 0;
	transition: opacity 0.8s ease-out, transform 0.8s ease-out;
	position: relative;
	/* Ensure transform works */

}


.Header-ticker {
	position: fixed;
	left: 0.3%;
	top: 0;
	width: 3.5vw;
	height: 100vh;
	border-right: 0.01vw solid #c2c2c2;
	background-color: white;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;
}

.ticker-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* Ensure smooth transition */
	height: 200%;
	gap: 47vw;
	/* Adds spacing between text elements */
	height: auto;
	/* Ensures it scales dynamically */
	animation: verticalMarquee 20s linear infinite;
}

.ticker-text {
	font-size: 2rem;
	color: black;
	transform: rotate(-90deg);
	white-space: nowrap;
}

@keyframes verticalMarquee {
	from {
		transform: translateY(-50%);
	}

	to {
		transform: translateY(50%);
	}
}


.timeline-item.show,
.timeline-connector.show {
	opacity: 1 !important;
}


.timeline-connector {
	z-index: 4;
	position: relative;
	will-change: transform;
	/* Optimizes animations */

}

/* below is an important code to align the text between the divider, use developer tool -> copy selector */

/* 1st occurrence */
.timeline-container>div:nth-child(3) {
	margin-top: 0vh !important;
}

/* 2nd occurrence */
.timeline-container>div:nth-child(6) {
	margin-top: 20vh !important;
	/* Moves it lower */
}

/* 3rd occurrence */
.timeline-container>div:nth-child(9) {
	margin-top: 20vh !important;
	/* Moves it lower */
}

/* 4th occurrence */
.timeline-container>div:nth-child(12) {
	margin-top: 20vh !important;
	/* Moves it lower */
}

/* 5th occurrence */
.timeline-container>div:nth-child(15) {
	margin-top: 20vh !important;
	/* Moves it lower */
}



.timeline-text.left {
	transition: color 2s ease-out, opacity 2s ease-out;
	/* Smooth transition */
	opacity: 0.5;
	align-self: center;
	margin-right: auto;
	margin-left: 0;
	font-size: 4.5rem;
	font-weight: bold;
	color: black;
	z-index: 3;
}

.timeline-text.right,
.timeline-text.left {
	position: relative;
	/* Ensure it moves based on parent */
	width: auto;
	/* Let it adjust dynamically */
	max-width: 100%;
	/* Prevent it from getting too large */
	flex-grow: 1;
	/* Allows resizing in flex containers */
	text-align: left;
	/* Ensures proper alignment */

	white-space: nowrap;

}


/* When the text is entering the viewport */
.timeline-text.left.in-view {
	color: white;
	/* Transition to yellow */
	opacity: 1;
	/* Fully visible */
}


/* first occurence on the left*/
.timeline-container>div:nth-child(5)>.timeline-text.left {
	transform: translateY(0vh);
	left: -10%;
	top: 10vh !important;
}

/* 2nd occurence on the left*/
.timeline-container>div:nth-child(11)>.timeline-text.left {
	transform: translateY(0vh);
	left: -10%;
	top: 10vh !important;
}


.timeline-text.right {

	opacity: 0.5;
	transition: color 2s ease-out, opacity 2s ease-out;
	/* Smooth transition */
	align-self: center;
	margin-left: auto;
	margin-right: 0;
	font-size: 4.5rem;
	font-weight: bold;
	color: black;
	z-index: 3;
}


/* When the text is entering the viewport */
.timeline-text.right.in-view {
	color: white;
	/* Transition to yellow */
	opacity: 1;
	/* Fully visible */
}


/* first occurence on the right*/
.timeline-container>div:nth-child(2)>.timeline-text.right {
	transform: translateY(-20vh);
	/* Moves it upwards */
	left: 10%;
	top: 0 !important;
}

/* 2nd occurence on the right*/
.timeline-container>div:nth-child(8)>.timeline-text.right {
	transform: translateY(0vh);
	/* Moves it upwards */
	left: 10%;
	top: 0 !important;
}

/* 3rd occurence on the right*/
.timeline-container>div:nth-child(14)>.timeline-text.right {
	transform: translateY(0vh);
	/* Moves it upwards */
	left: 10%;
	top: 0 !important;
}

.logo-image {
	width: 40vw;
	/* Adjust as needed */
	height: 20vh;
	/* Adjust as needed */
	background-image: url('images/rooting_research_transparent.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	/* Stays in place */
	display: flex;
	z-index: 4;
	top: 6%;
	left: -12%;
	transform: scale(0.3);
	opacity: 1;
}


/*Navbar code starts here */
/* Transparent Navbar */
/* Navbar container */

:root {
	--nav-bg-color: white;
	--nav-text-color: black;
	--nav-hover-color: rgba(255, 255, 255, 0.2);
	--footer-text-color: black; 
	/* Default color */
		/* Default hover effect */
}

nav {
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

nav div {
	font-size: 1.5rem;
	font-weight: 300;
}


nav a {
	/* Navbar links */
	background-color: var(--nav-bg-color);
	color: var(--nav-text-color);

	/*background-color: black;*/
	padding: 0.25em 0.75em;
	border-radius: 5em;
	/*color: #f1f1f1;*/
	text-decoration: none;
	margin-inline-start: 0.5em;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background: rgba(255, 255, 255, 0.1); */
	/* Transparent */
	/* backdrop-filter: blur(10px); */ /* Glass effect */
	padding: 1.2vw 1.2vw;
	display: flex;
	justify-content: flex-end;
	/* Moves everything to the right */
	align-items: center;
	opacity: 0;
	z-index: 20;
}

/* Navigation Menu */
.nav-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 0.1vw;
}

.nav-menu li {
	position: relative;
}

/* Menu Items */
.nav-menu a {
	text-decoration: none;
	background-color: var(--nav-bg-color);
	color: var(--nav-text-color) !important;
	/* Ensure text color updates */
	/*color: white;*/
	font-size: 1.25rem;
	padding: 0.7vw 1vw;
	transition: background 0.3s, color 0.3s;
}

/* Hover Effect */
.nav-menu a:hover {
	background: var(--nav-hover-color);
	/* Adjust hover background */
	color: var(--nav-bg-color);
	/* Use dynamic color */
	/*background: rgba(0, 0, 0, 0.06);
	color: black;*/
	border-radius: 5em;
}

/* Dropdown Menu */
.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	/*background: transparent;*/
	/*background: var(--nav-bg-color); /* Dynamic Background */
	/*	backdrop-filter: blur(10px);*/
	list-style: none;
	padding: 1.2vw 0;
	min-width: 2vw;
	border-radius: 0.5vw;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
	display: block;
}

/* Dropdown Items */
.dropdown-menu li {
	text-align: left;
}

.dropdown-menu a {
	display: block;
	padding: 0.7vw 1.4vw;
	color: var(--nav-text-color);
	/*color: white;*/
	transition: background 0.3s, color 0.3s;
}

/* Change color on hover */
.dropdown-menu a:hover {
	background: var(--nav-hover-color);
	/* Dynamic Hover */
	color: var(--nav-bg-color);
	/* Use dynamic color */
	/*background: rgba(0, 0, 0, 0.06);
	color: black;*/
}

/* Hamburger Menu for Mobile*/
.hamburger-menu {
	top: 1%;
	width: 4rem;
	height: 4rem;
	position: fixed;
	right: 5rem;
	z-index: 15;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	cursor: pointer;
	transition: right 0.7s;
	opacity: 0;
}

.change .hamburger-menu {
	right: 17rem;
}

.line {
	width: 100%;
	height: 0.2rem;
	background-color: black;
	box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.change .line {
	background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
	transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
	opacity: 0;
	visibility: hidden;
}

.change .line-3 {
	transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.hamburger-menu span {
	/*close button */
	position: absolute;
	left: 5rem;
	width: 4rem;
	height: 4rem;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 0.5rem;
	letter-spacing: 0.1rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
	display: none;
	/* Hides the close button */

}

.change .hamburger-menu:hover span {
	opacity: 1;
	visibility: visible;
}

.hamburger-menu span::before {
	content: "";
	position: absolute;
	border-left: 1rem solid transparent;
	border-right: 1rem solid white;
	border-bottom: 1rem solid transparent;
	border-top: 1rem solid transparent;
	top: 50%;
	left: -2rem;
	transform: translateY(-50%);
}

.sidebar {
	/*width: 22em; logic moves to js script */
	height: 50vh;
	position: fixed;
	/*background-color: rgba(0, 0, 0, 0.592);*/
	background-color: #e61618;
	backdrop-filter: blur(20vh);
	opacity: 1;
	top: 0;
	right: -100vh;
	transition: right 0.5s;
	z-index: 5;
}

/* way to make sure the side bar background matches the site background 
  .sidebar::before{
	background-image: url('../assets/images/background_img.jpg');
  } */


.change .sidebar {
	right: 0;
}

.menu {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-item {
    display: block;
    width: 100%; /* Ensure it fills the sidebar */
    padding: 2vw 0;
    text-align: center;
    border-bottom: 0.01vw solid white;
	border-top: 0.01vw solid white;

}

.menu-item a {
    text-decoration: none; /* Removes underline */
		color: white; /* Ensures text color is white (or your desired color) */
}


/* Active (tapped) effect */
.menu-item:active,
.menu-item.selected {  
    background-color: rgba(255, 255, 255, 0.2); /* Subtle highlight */
}



.menu-link {
	font-size: 4rem;
	font-weight: 800;
	color: black;
	position: relative;
}

.menu-link::before {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
	width: 100%;
}

/* Navbar code ends here */
/* Disabling the rotating text logo for now */
/*
.circle {
	opacity: 0;
	width: 8vw;
	height: 8vw;
	max-width: 100px;
	max-height: 100px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  
	background-image: url('images/dices.png');
	background-size: cover;
  
	background-position: center;
	border-radius:50%;
	animation: rotateText 10s linear infinite;
	-webkit-animation: rotateText 10s linear infinite; /* Safari Fix for rotating text being clipped */

/*} */

/* Rotating text inside the circle */
/*
  .rotating-text {
	opacity: 0; /* Initially hidden and loaded via java script */
/*display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	/*color: #333;*/
/*color: rgb(67, 67, 67);
	 will-change: transform; /* Safari Fix for rotating text being clipped */
/*transform-style: preserve-3d; /* Safari Fix for rotating text being clipped */
/* backface-visibility: hidden; /* Safari Fix for rotating text being clipped */
/*  -webkit-transform-style: preserve-3d;  /* Safari Fix for rotating text being clipped */
/*-webkit-backface-visibility: hidden;  /* Safari Fix for rotating text being clipped */

/* } */

/*
  .rotating-text span {
	position: absolute;
	transform-origin: center center;
	transform: rotate(0deg);
	-webkit-transform-origin: center center; /* Safari Fix for rotating text being clipped */
/* -webkit-transform: rotate(0deg); /* Safari Fix for rotating text being clipped */
/* } */

/* The circle container */
/*.circle-container {
	position: fixed;
	top: 1%;
	left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	opacity: 0;  /* Initially hidden */
/*visibility: hidden;  /* Prevents interaction before animation starts */
/*animation: fadeIn 1s ease-in-out 2s forwards; /* Delays visibility for 4s */
/*transform: scale(0.7); /*reduces the size of the rotating circle logo */
/* } 

/* Fade-in animation *//*
@keyframes fadeIn {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	100% {
		opacity: 0.8;
		visibility: visible;

	}
}
*/

.designer-footer {

	position: fixed;
	bottom: 1vh;
	/* Adjust spacing from bottom */
	right: 0%;
	/* Adjust spacing from right */
	transform: scale(0.7);
	opacity: 0;
	z-index: 3;
	color: var(--footer-text-color);
	/* Apply the dynamic text color */

}

section {
	min-height: 100dvh;
}

.fat {
	font-weight: 800;
	font-size: 4rem;
}

.thin {

	font-size : 2rem;
	font-weight: 300;
}

.thin-jp {
	font-weight: 400;
	font-size: 2rem;
}

canvas {

	display: block;
	/* Removes inline spacing issues */
	width: 100vw;
	/* Covers full screen width */
	height: 100vh;
	/* Covers full screen height */
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	/* Ensures it's centered */

	z-index: -1;
	touch-action: none;
	/* Prevents unwanted scrolling on touch screens */

}

.hero {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}

.text-loop {
	display: flex;
	gap: 2em;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}

.hero-title {
	z-index: -1;
	font-size: 4rem;
	animation: marquee 20s linear infinite;
}

.hero-title span:nth-child(1) {
	font-weight: 800;
}

.hero-title span:nth-child(2) {
	font-weight: 200;
}

.hero-title span:nth-child(3) {
	font-weight: 400;
	color: transparent;
	-webkit-text-stroke: 1px black;
	/*font-style: italic;*/
}

.hero-title span:nth-child(4) {
	font-weight: 600;
	/*font-style: italic;*/
}

.hero-title span:nth-child(5) {
	font-weight: 100;
}

.hero-title span:nth-child(6) {
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 1px black;
}

.hero-title span:nth-child(7) {
	font-weight: 500;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 90%;
	max-width: 1200px;
}

.hero-content div:nth-child(1) {
	font-weight: 300;
}

.hero-content div:nth-child(2) {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

.page {
	padding-inline: 2em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.page .left .thin:is(:first-child) {
	margin-bottom: 1em;
}

.page .thin:is(:last-child) {
	margin-top: 1em;
}

.loader {
	z-index: 9999;
	/* Ensure it's on top */
}

body.loading .loader {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	background-color: #f1f1f1;
}

.loader img {
	width: 15rem;
}

.avatars {
	overflow-x: hidden;
	position: relative;
	background-color: white;
}

.avatars section .top {
	padding-block: 4em;
	padding-inline: 2em;
}

.top>div:not(:last-child) {
	text-align: center;
}

.top div:last-child,
.about div:last-child {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.avatars-marquee {
	position: absolute;
	bottom: 0;
	display: flex;
}

.avatars-wrapper {
	animation: marquee 20s linear infinite;
	display: flex;
}

.avatars-marquee span {
	display: flex;
	margin-left: -4em;
}

.avatars-marquee img {
	width: 300px;
}


section>.title {
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 4em 2em;
}

.final>.title {
	padding-block-end: 0;
}

.cards {
	padding-inline: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	margin-inline: auto;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 0.75em;
	padding: 2em;
	background-color: #f1f1f1;
	width: min(23rem, 100%);
	height: 13.5rem;
	transition: transform 0.2s ease-in-out;
}

.final {
	display: flex;
	flex-direction: column;
	gap: 5em;
	color: white;
	border-top: 1px white dashed;
	background-color: rgb(23, 16, 16);
	padding-inline: 2em;
}

.dev img {
	max-width: 100%;
	z-index: 2;
}

.dev {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1em;
	text-align: center;
	margin-inline: auto;
	max-width: 40rem;
}

.vertical-line {
	margin-inline: auto;
	height: 7rem;
	width: 1px;
	background-color: white;
}

.about {
	margin-inline: auto;
}

footer {
	text-align: center;
	padding-inline: 2em;
	margin-bottom: 2em;
}

footer>div:not(.socials) {
	font-size: 5rem;
	font-weight: 800;
	color: transparent;
	-webkit-text-stroke: 1px white;
	line-height: 1;
	margin-block: 2rem;
}

.socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.socials a {
	font-size: 1.5rem;
}
.btn {
	margin-inline: auto;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 0.5vw 1vw;
	/*padding-block: 0.35em;*/
	border-radius: 2em;
	width: 10vw;
}

.text-spin {
	overflow-x: hidden;
	color: transparent;
	-webkit-text-stroke: 1px white;
	font-size: 5rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	font-weight: 800;
	top: 10%;
	left: -2em;
	line-height: 0.9;
}

.first-line,
.second-line,
.third-line {
	display: flex;
}

.first-line>div {
	animation: marquee 20s infinite reverse;
}

.second-line>div {
	animation: marquee 25s infinite;
}

.third-line>div {
	animation: marquee 25s infinite reverse;
}

@keyframes marquee {
	from {
		translate: 0% 0;
	}

	to {
		translate: -100% 0;
	}
}

@media (width < 1200px) {
	/* Mobile */

	/* refer document.addEventListener("DOMContentLoaded", function () in app.js
	aligns timeline-container, timeline-text, timeline-item, timeline-connector */


	body {
		overflow-x: hidden;
		/* Prevents horizontal scrolling */
		touch-action: pan-y;
		/* Ensures smooth vertical scrolling */
	}

	header {
		font-size: 1rem;
		height: 10vh;
	}

	/* hide the cross button */

	.change .line-1,
	.change .line-2,
	.change .line-3 {
		transform: none !important;
		opacity: 1 !important;
		visibility: visible !important;
	}


	.logo-image {
		transform: scale(0.5);
		left: 2%;
		top: 4%;
	}

	.navbar {
		display: none;
		/* Completely hides the navbar on mobile */
	}

	.Header-ticker {
		width: 8vw;

	}

	.ticker-wrapper {
		gap: 95vh;
	}

	.timeline-item.left img {
		transform: scale(0.7);
	}
	
	.timeline-item.right img {
		transform: scale(0.7);
	}
	

	.fat {
		margin-left: 40px;	
		margin-bottom: 1em;
		/* Adjust the space as needed */
	}

	/* Adjust the space as needed for founder image */
	body > div.container > section.final > div.dev > img {
		margin-left: 30px;
	}
	.founder-name {
		margin-left: 30px;	
	}

	.thin {
		width: 300px;
		margin-left: 50px;	
	}
	.thin-jp {
		width: 300px;
		margin-left: 50px;	
	}


	/* hide the 2nd vertical line */
	body > div.container > section.final > div:nth-child(6) {
		display: none !important;
	}

	footer>div:not(.socials) {
		margin-inline: auto;
		width: 100%;
		font-size: 2rem;
	}


	.btn {
		margin-left: 50%;
		padding: 1vw 3vw;
		width: 25vw;
		
	}

	/* footer-message text */
	body > div.container > section.final > footer > div.footer-message {
		margin-left: 30px;	
	}

	body > div.container > section.final > footer > p {
		margin-bottom: 20px;
		margin-left: 30px;
		font-size: 8px;
	}

	.hero-title {
		font-size: 3rem;
		/* Adjust large text */
	}

	.hero-title {
		margin-top: 3em;
	}

	.hero-content {
		margin-top: 5em;
	}

	.right-content p:nth-of-type(2) {
		color: #bf152a;
	}

	.page.two {
		/* Correct way to target <section class="page two"> */
		margin-top: 2em;
	}

	.page .right {
		/* Correct way to target <div class="right"> inside .page */
		margin-top: 5em;
	}

	.cards {
		flex-direction: column;
		/* Stack cards for better fit */
	}

	.designer-footer {
		bottom: 5px;
		/* Adjust spacing from bottom */
		right: 0%;
		/* Adjust spacing from right */
		opacity: 0;
		transform: scale(0.5);
	}

	#form {
		display: none !important;
		/* Hides the contact us form */
	}

}


@media (orientation: landscape) {
	/* Desktop */


	.timeline-item.left {
		max-width: 32.5vw !important;
	}

	.timeline-item.right {
		max-width: 32.5vw !important;
	}

	.text-spin {
		left: -250%;
		font-size: 8rem;
	}

	.hamburger-menu {
		display: none;
	}

	.menu-item {
		display: none;
	}
	.menu-link {
		display: none;
	}

	.sidebar {
		display: none;
	}
	.socials {
		flex-direction: row;
	}

	.btn {
		margin: 0;
	}

	.hero {
		justify-content: center;
	}

	.hero-title {
		font-size: 6rem;
		/* Adjust this for changing the text size for Desktop */
	}

	.hero-content {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 15em;
	}

	.hero-content>div {
		width: 40%;
	}

	.right-content {
		text-align: right;
	}


	.left {
		translate: 0 -50%;
	}

	.right {
		translate: 0 50%;
	}

	.right {
		text-align: right;
	}

	.page>.right,
	.page>.left {
		width: 40%;
	}

	.top>div:last-child,
	.about>div:last-child {
		margin-top: 2em;
		flex-direction: row;
		justify-content: center;
		gap: 2em;
	}

	.avatars .thin {
		font-size: 0.85rem;
	}

	.avatars .fat {
		font-size: 3.5rem;
	}

	.top>div:last-child div,
	.about>div:last-child div {
		width: 40%;
	}

	.avatars section .top {
		padding-block: 10em;
	}

	.avatars-marquee span {
		margin-left: -8em;
	}

	.avatars-marquee img {
		width: 20vw;
	}

	section>.title {
		padding-block: 5em;
	}

	.roadmap {
		padding-bottom: 5em;
	}

	.roadmap .cards {
		justify-content: start;
	}

}