/* Author - ravzzy */
@font-face {
	font-family: 'Lucidity Expand';
	/* Define a name for your font */
	src: url('../fonts/lucidity-expand.ttf') format('truetype');
	/* Path to your TTF font */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 8px;
	/* Root font size */

}

:root {
	--nav-bg-color: black;
	--nav-text-color: black;
	--nav-hover-color: white;
	--footer-text-color: black;
	--primary-background-color: #6b2712;
	--secondary-background-color: #f1f1f1;
	--tile-background-color: #f1c47c;
	--final-background-color: rgb(23, 16, 16);
	--body-text-font: 'Noto Sans JP', sans-serif;
	--header-text-font: "Bebas Neue", sans-serif;
	--header2-text-font: 'Notable', sans-serif;
	--brand-text-font: 'Lucidity Expand', sans-serif;
	--default-text-font: 'Noto Sans KR', sans-serif;

	/* Default color */
	/* Default hover effect */
}

body {
	height: 100%;
	overflow-x: hidden !important;
	font-family: var(--default-text-font);
	text-transform: uppercase;
	background-color: #f1f1f1;
}


.Header-swimlane {
	background-color: var(--secondary-background-color);
	padding: 1vh 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9vh;
	z-index: 4;
	/* Keep swimlane above the header */
	transition: transform 0.3s ease-out;
	border: 0.5px solid grey;
}

.Header-swimlane-Text {
	font-family: var(--brand-text-font);
	color: black;
	font-size: 1.7rem;
	width: 100%;
	font-weight: 600;
	position: fixed;
	top: 3%;
	left: 8%;
	z-index: 5;
}

.page1-section {
	display: flex;
	background-image: url(/images/homepage-background.png);
	background-size: cover;
	margin-left: 7vh;
	justify-content: center;
	background-position: center;
	width: 100%;
}

.page1-text-container {
    text-align: center;               /* Horizontally centers the text */
    position: relative;               /* So we can use 'position: absolute' or 'top' on the child */
    width: 70%;
    height: 100%; 
}

.shining-text {
	font-size: 8rem;
	opacity: 0.8;
	text-transform: none;
	font-weight: bold;
	color: white;
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, white 50%, rgba(255, 255, 255, 0.2) 100%);
	background-size: 200% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 10s linear 1 forwards;
}

@keyframes shine {
	from {
		background-position: 200% 50%;
	}

	to {
		background-position: -200% 50%;
	}
}

.topper {
	max-height: 100vh;
	visibility: hidden;
	min-height: 9vh;
	background-color: var(--secondary-background-color);
}

.left-content-section {

	/* Reset any inherited height */
	background-color: var(--primary-background-color);
	position: relative;
	left: 3.55vw;
	display: flex;
	align-items: center;
	/* Ensure child elements stretch to match height of the section */
	justify-content: space-between;
	flex-wrap: wrap;
	/* Allows wrapping on smaller screens */
	width: 100%;
	padding: 0;
	/* Remove padding from section */

	margin: 0 auto;
}

.left-section {
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: left;
	/* Center horizontally within the section */
	flex: 1;
	margin-left: 15dvh;
	/* Shift the section 20% of the viewport height from the left */

}

.left-text-box {
	padding: 10px;
	background-color: var(--tile-background-color);
	border-radius: 0.5vw;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 60dvh;
	max-width: 80dvh;
	text-align: justify;
	font-size: 1.3rem;
}

.left-section h2 {
	font-family: var(--body-text-font);
	font-weight: 600;
	font-size: 1.5em;
	margin-top: 3vh;
	margin-bottom: 3vh;
	text-transform: none;
	text-align: center;
	z-index: 2;

}

.left-section p {
	margin-inline: 10vh;
	font-family: var(--body-text-font);
	font-weight: 500;
	margin-top: 1px;
	padding-bottom: 5px;
	z-index: 2;
	text-transform: none;
	line-height: 2;
	font-size: 1.5rem;
}

/* Styling for the image inside the text box */
.left-text-box img {
	width: 100%;
	height: auto;
	max-width: 100%;
	transform: scale(0.8);
	display: block;
	z-index: 2;
}


/* The dividing line */
.middle-divider {
	position: absolute;
	/* To position it relative to the section */
	top: 0;
	/* Align to top of section */
	bottom: 0;
	/* Stretch to the bottom of the section */
	left: 50%;
	/* Position the divider at the center horizontally */
	transform: translateX(-50%);
	/* Offset by 50% of its own width to center it exactly */
	border-left: 0.01dvh solid var(--secondary-background-color);
	z-index: 1;
}

/* Right text styling */
.right-section {
	height: 100%;
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: center;
	/* Center horizontally within the section */
	flex: 1;
	margin-right: 15dvh;
	/* Some padding from the right edge */
}

.right-section .right-section-text {
	font-family: var(--header2-text-font);
	text-align: center;
	font-size: 5rem;
	color: var(--secondary-background-color);
	font-weight: 500;
}

.right-section-image {
	width: 100%;
	height: auto;
	max-width: 100%;
	transform: scale(.8);
	display: block;
	z-index: 2;
}

.quote-section {
	padding-top: 5vh;
	padding-bottom: 5vh;
	min-height: 20vh;
	height: auto;
	display: flex;
	background-color: var(--primary-background-color);
	position: relative;
	left: 3.55vw;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;

}

.quote-text {
	position: absolute;
	text-align: center;
	font-size: 2rem;
	color: var(--secondary-background-color);
	top: 50%;
	text-transform: none;
	transform: translateY(-50%) translateX(-50%);
	/* Adjust the position back to center it */
	left: 50%;
}

.right-content-section {
	/* Reset any inherited height */
	background-color: var(--primary-background-color);
	position: relative;
	left: 3.55vw;
	display: flex;
	align-items: center;
	/* Ensure child elements stretch to match height of the section */
	justify-content: space-between;
	flex-wrap: wrap;
	/* Allows wrapping on smaller screens */
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.right-section-2 {
	height: auto;
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: right;
	/* Center horizontally within the section */
	flex: 1;
	margin-right: 15dvh;
	/* Shift the section 20% of the viewport height from the left */

}

.right-text-box {
	padding: 1px;
	background-color: var(--tile-background-color);
	border-radius: 0.5vw;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* Align items to the top */
	min-width: 60dvh;
	max-width: 80dvh;
	height: auto;
	font-size: 1.3rem;
	text-align: justify;
	/* Ensures the paragraphs are aligned left */

}

.p-center-align {
	text-align: center !important;
}

.right-section-2 h2 {
	font-family: var(--body-text-font);
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 3vh;
	margin-bottom: 3vh;
	text-align: center;
	text-transform: none;
	z-index: 2;

}

.right-section-2 p {
	margin-inline: 10vh;
	font-family: var(--body-text-font);
	line-height: 2;
	font-weight: 500;
	text-transform: none;
	font-size: 1.5rem;
	margin-top: 10px;
	text-align: justify;
	/* Ensure text is left-aligned */
	z-index: 2;

}

/* Styling for the image inside the text box */
.right-text-box img {
	padding: 0;
	width: 100%;
	height: auto;
	transform: scale(0.8);
	display: block;
	/* Ensure the image behaves like a block element */
	margin: 0 auto;
	/* Centers the image horizontally */
	z-index: 2;

}

.left-section-2 {
	min-height: 100%;
	height: auto;
	/* Reset any inherited height */
	display: flex;
	align-items: center;
	/* Center vertically within the section */
	justify-content: center;
	/* Center horizontally within the section */
	flex: 1;
	margin-left: 15dvh;
	/* Some padding from the right edge */
}

.left-section-2 .left-section-text {
	font-family: var(--header2-text-font);
	text-align: center;
	font-size: 5rem;
	color: var(--secondary-background-color);
	font-weight: 500;
}

.left-section-image {
	padding: 0;
	width: 100%;
	height: auto;
	transform: scale(0.8);
	display: block;
	/* Ensure the image behaves like a block element */
	margin: 0 auto;
	/* Centers the image horizontally */
	z-index: 2;

}


/* right section floating keywords */
.floating-keyword-7 {
	right: 10%;
	animation: moveKeyword-7 60s infinite linear;
	transform: rotate(-10deg);
	animation-delay: 0s;
}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-7 {
	0% {
		top: 10%;
		opacity: 1;
	}

	12.24% {
		top: -2%;
		opacity: 1;

	}

	12.25% {
		top: 100%;
		opacity: 0;
	}

	12.26% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 10%;
		opacity: 1;

	}

}


.floating-keyword-1 {
	right: 20%;
	animation: moveKeyword-1 60s infinite linear;
	transform: rotate(10deg);
	animation-delay: 0s;
}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-1 {
	0% {
		top: 25%;
		opacity: 1;
	}

	27.54% {
		top: -2%;
		opacity: 1;

	}

	27.55% {
		top: 100%;
		opacity: 0;
	}

	27.56% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 25%;
		opacity: 1;

	}

}

.floating-keyword-2 {
	right: 25%;
	animation: moveKeyword-2 60s infinite linear;
	animation-delay: 0s;

}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-2 {
	0% {
		top: 50%;
		opacity: 1;
	}

	53.04% {
		top: -2%;
		opacity: 1;

	}

	53.05% {
		top: 100%;
		opacity: 0;
	}

	53.06% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 50%;
		opacity: 1;

	}

}


.floating-keyword-8 {
	right: 10%;
	animation: moveKeyword-8 60s infinite linear;
	transform: rotate(20deg);
	animation-delay: 0s;

}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-8 {
	0% {
		top: 75%;
		opacity: 1;
	}

	78.54% {
		top: -2%;
		opacity: 1;

	}

	78.55% {
		top: 100%;
		opacity: 0;
	}

	78.56% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 75%;
		opacity: 1;

	}

}


.floating-keyword-3 {

	right: 25%;
	animation: moveKeyword-3 60s infinite linear;
	animation-delay: 0s;
}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-3 {
	0% {
		top: 100%;
		opacity: 1;
	}

	100% {
		top: -2%;
		opacity: 1;

	}

}




.floating-keyword-9 {
	left: 10%;
	animation: moveKeyword-9 60s infinite linear;
	animation-delay: 0s;
}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-9 {
	0% {
		top: 5%;
		opacity: 1;
	}

	7.14% {
		top: -2%;
		opacity: 1;

	}

	7.15% {
		top: 100%;
		opacity: 0;
	}

	7.16% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 5%;
		opacity: 1;

	}

}



.floating-keyword-4 {

	left: 30%;
	animation: moveKeyword-4 60s infinite linear;
	animation-delay: 0s;

}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-4 {
	0% {
		top: 15%;
		opacity: 1;
	}

	17.34% {
		top: -2%;
		opacity: 1;

	}

	17.35% {
		top: 100%;
		opacity: 0;
	}

	17.36% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 15%;
		opacity: 1;

	}

}


.floating-keyword-10 {

	left: 20%;
	animation: moveKeyword-10 60s infinite linear;
	transform: rotate(20deg);
	animation-delay: 0s;

}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-10 {
	0% {
		top: 45%;
		opacity: 1;
	}

	47.94% {
		top: -2%;
		opacity: 1;

	}

	47.95% {
		top: 100%;
		opacity: 0;
	}

	47.96% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 45%;
		opacity: 1;

	}

}




.floating-keyword-5 {

	left: 20%;
	animation: moveKeyword-5 80s infinite linear;
	animation-delay: 0s;
}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-5 {
	0% {
		top: 75%;
		opacity: 1;
	}

	78.54% {
		top: -2%;
		opacity: 1;

	}

	78.55% {
		top: 100%;
		opacity: 0;
	}

	78.56% {
		top: 100%;
		opacity: 1;

	}

	100% {
		top: 75%;
		opacity: 1;

	}

}


.floating-keyword-6 {

	left: 30%;
	animation: moveKeyword-6 120s infinite linear;
	animation-delay: 0s;
}

/* Animation to move the keyword vertically with tilt and blur */
@keyframes moveKeyword-6 {
	0% {
		top: 100%;
		opacity: 1;
	}

	100% {
		top: -2%;
		opacity: 1;

	}

}




.main-content {
	position: relative;
}

.buffer-section {
	position: relative;
	min-height: 15vh;
	background-color: var(--secondary-background-color);
	margin-left: 4.55dvw;
	width: calc(100% - 4.55dvw);

}

.right-text-box,
.right-section-text,
.buffer-section,
.left-text-box,
.left-section-text {
	z-index: 3;
}

.floating-keyword-1,
.floating-keyword-2,
.floating-keyword-3,
.floating-keyword-4,
.floating-keyword-5,
.floating-keyword-6,
.floating-keyword-7,
.floating-keyword-8,
.floating-keyword-9,
.floating-keyword-10 {

	position: absolute;
	font-family: var(--body-text-font);
	font-size: 4rem;
	text-transform: none;
	font-weight: 600;
	color: black;
	filter: blur(4px);
	pointer-events: none;
	/* Ensure it doesn't interfere */
	z-index: 1;


}

/* Responsive Styles */
@media (max-width: 768px) {

	html,
	body {
		overflow-x: hidden !important;
		width: 100%;
	}

	/* Reset the width of any sections causing overflow */
	.left-content-section,
	.right-content-section,
	.quote-section,
	.right-section-2 {
		overflow-x: hidden;
		width: 100%;
	}

	/* Ensure the body doesn’t overflow */
	body {
		overflow-x: hidden !important;
	}

	/* Additional fix for any child elements that could be overflowing 
	  * {
		overflow-x: hidden;
	  } */


	.topper {
		max-height: 100vh;
		min-height: 5vh;
		background-color: var(--secondary-background-color);
	}

	.page1-section {
		flex-direction: column-reverse;
		margin-left: 2vh;
		max-height: 95vh;
		min-height: 75vh;
		/* Allow the section to adjust its height */
		padding: 0;
		/* Reduce padding for smaller screens */

	}

	/* Image container (on mobile, image will be at the top) */
	.header-image-container {
		position: relative;
		top: 0;
		height: 25vh;
		padding-left: 2vh;
		align-items: flex-end;
		/* Ensure the content aligns to the top */
		width: 90%;
		/* Image container takes 100% width */
		background-image: url('../images/globe_video.gif');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.header-image {
		/*max-width: 100%;
		max-height: 100%;
		object-fit: contain;
        transform: scale(0.6);
        height: auto; */
		/* Maintain aspect ratio */
		display: none;
	}

	/* Text container on mobile */
	.header-text-container {
		position: relative;
		height: 65vh;
		padding-top: 12vh;
		align-items: flex-start;
		/* Ensure the content aligns to the top */
		width: 100%;
		/* Text takes full width on mobile */
		padding-left: 7vh;
		justify-content: start;
		background-color: var(--secondary-background-color);
	}

	.header-text-container h1,
	.header-text-container h2,
	.header-text-container h3,
	.header-text-container h4,
	.header-text-container h5 {
		font-size: 5rem;
		/* Smaller font size for mobile */
	}



	.buffer-section {
		left: 6.4vw;
		width: calc(100% - 6.4vw);
		min-height: 10vh;
	}

	.floating-keyword-1,
	.floating-keyword-2,
	.floating-keyword-3,
	.floating-keyword-4,
	.floating-keyword-5,
	.floating-keyword-6,
	.floating-keyword-7,
	.floating-keyword-8,
	.floating-keyword-9,
	.floating-keyword-10 {
		font-size: 3rem;
		filter: blur(3px);

	}

	.left-content-section {
		padding-top: 4vh;
		padding-bottom: 4vh;
		padding-inline: 2em;
		margin: 0%;
		padding-left: 4vw;
		max-width: calc(100vw - 4vw) !important;
		overflow-x: hidden !important;
		padding-bottom: 2%;

		display: flex;
		flex-direction: column;
		/* Stack children vertically */
		min-height: 0;
		height: auto;
		/* Prevent horizontal overflow */
		flex-direction: column-reverse;
		/* Reverse the order: right-section goes above left-section */

	}

	.right-section {
		padding-bottom: 2%;
		margin: 0%;
		display: flex;
		justify-content: center;
		padding-left: 5.5vw;
		/* Center horizontally */
		align-items: center;
		/* Center vertically */
		min-height: 0;
		height: auto;
		/* You can adjust this to control the height of the right section */
		width: 100%;
		/* Ensure the right section fits within the container */
		/* Remove flex: 1 to prevent overflow */
	}

	.right-section .right-section-text {
		font-size: 2.8rem;
	}

	.left-section {
		padding-bottom: 10%;
		display: flex;
		flex-direction: column;
		/* Stack content vertically */
		justify-content: flex-start;
		min-height: 0;
		height: auto;
		flex: 1;
		position: relative;
		margin-left: 7dvw;
		max-width: 80dvw;
	}

	.left-text-box, .right-text-box {
		min-width: 0;
	}

	.left-section h2 {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}


	.left-section p {
		margin-inline: 3vh;
	}



	.left-text-box img {
		transform: scale(0.8);
		/* Make the image smaller on smaller screens */
		/* Make the image smaller on smaller screens */
	}

	.quote-section {
		padding-inline: 2em;
		margin: 0%;
		padding-left: 4vw;
		max-width: calc(100vw - 4vw) !important;
		border: none;
		min-height: 10dvh;
		height: 0;
	}

	.quote-text {
		width: 70%;
		font-size: 1.5em;
		left: 50%;
		/* Position the divider at the center horizontally */
		transform: translateX(-50%);
	}


	/*Section 2 */
	.right-content-section {
		padding-top: 5%;
		padding-bottom: 5%;
		padding-inline: 2em;
		margin: 0;
		gap: 0;
		padding-left: 4vw;
		max-width: calc(100vw - 4vw) !important;
		overflow-x: hidden !important;
		display: flex;
		flex-direction: column;
		/* Stack children vertically */
		min-height: 0vh;
		height: auto;
		/* Prevent horizontal overflow */
	}

	.left-section-2 {
		padding-top: 5%;
		padding-bottom: 5%;
		display: flex;
		justify-content: center;
		padding-left: 5.5vw;
		/* Center horizontally */
		align-items: center;
		/* Center vertically */
		min-height: 2vh;
		margin-left: 0;
		height: auto;
		/* You can adjust this to control the height of the right section */
		width: 100%;
		/* Ensure the right section fits within the container */
		/* Remove flex: 1 to prevent overflow */
	}


	.left-section-2 .left-section-text {
		font-size: 2.8rem;
	}

	.right-section-2 {
		padding-bottom: 10%;
		display: flex;
		flex-direction: column;
		/* Stack content vertically */
		justify-content: flex-start;
		min-height: 0;
		height: auto;
		flex: 1;
		position: relative;
		margin-left: 7dvw;
		max-width: 80dvw;
		margin-right: 0;
	}


	.right-section-2 h2 {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}

	.right-section-2 p {
		margin-inline: 3vh;
	}


	.right-text-box img {
		transform: scale(0.9);
		/* Make the image smaller on smaller screens */
	}

}

/*test code end*/


.middle-section {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 6vh 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	/* Adjust this to match the height of your header */

}

.middle-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary-background-color);
	z-index: 2;
}


p a {
	color: var(--primary-background-color);
	/* Change text color */
	text-decoration: none;
	/* Remove underline */
	font-weight: bold;
}

p a:hover {
	text-decoration: underline;
	/* Add underline on hover */
}

.logo-wrapper {
	position: fixed;
	/*width: 3.65vw;*/
	width: 10.4vh;
	height: 9vh;
	z-index: 10;
}

.logo-image {
	background-image: url('../images/rooting_research_transparent.webp');
	background-size: cover;
	/* Ensures the image covers the entire div */
	background-repeat: no-repeat;
	/* Ensures no repetition of the image */
	background-position: center;
	/* Centers the image within the div */
	position: absolute;
	width: 100%;
	/* Ensures the image takes up the full width of the wrapper */
	height: 100%;
	/* Ensures the image takes up the full height of the wrapper */
	transform: scale(1);
	opacity: 1;
}


.designer-footer {

	position: fixed;
	bottom: 1vh;
	/* Adjust spacing from bottom */
	right: 0%;
	/* Adjust spacing from right */
	transform: scale(0.7);
	opacity: 0;
	z-index: 3;
	color: var(--footer-text-color);
	/* Apply the dynamic text color */

}

section {
	min-height: 100dvh;
}

.blogs {
	place-items: center;
}

.blog-header {
	text-align: center;
	font-family: var(--header2-text-font);
    font-weight: 300;
    font-size: 5rem;
}

.tile-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	max-width: 80vw;
	/* Ensures it doesn’t stretch too much */
	gap: 40px;
	padding: 50px;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	/* This centers the grid horizontally */

}

.tile {
	background-color: #f1c47c;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transform-style: preserve-3d;
}

.tile img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 12px;
}

.tile h3 {
	font-family: var(--body-text-font);
	text-transform: none;
	font-size: 18px;
	color: #333;
	margin-top: 15px;
}

.tile p {
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	display: -webkit-box;
	--webkit-line-clamp: 2;
	/* Limit to two lines */
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.tile a {
	color: var(--primary-background-color);
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
}

.tile a:hover {
	text-decoration: none;
	/* Ensure no underline on hover */
}

/* Hover effect for tiles */
.tile:hover {
	transform: scale(1.05) rotateY(10deg);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.footer-branding {
	padding-bottom: 3vh;
	text-align: center;
}

.roadmap {
	min-height: 0;
}

.fat {
	font-family: var(--header2-text-font);
	font-weight: 300;
	font-size: 5rem;
}

.thin {
	font-family: var(--header-text-font);
	text-transform: none;
	font-size: 2rem;
	font-weight: 300;
}

.thin-jp {
	font-weight: 400;
	font-size: 2rem;
}

canvas {

	display: block;
	/* Removes inline spacing issues */
	width: 100vw;
	/* Covers full screen width */
	height: 100vh;
	/* Covers full screen height */
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	/* Ensures it's centered */
	background-color: transparent;
	z-index: -100;
	touch-action: none;
	/* Prevents unwanted scrolling on touch screens */

}

.page {
	padding-inline: 2em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.loader {
	z-index: 9999;
	/* Ensure it's on top */
}

body.loading .loader {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	background-color: var(--secondary-background-color);
}

.loader img {
	width: 15rem;
}

.avatars {
	overflow-x: hidden;
	position: relative;
	background-color: var(--nav-hover-color);
}

.avatars section .top {
	padding-block: 4em;
	padding-inline: 2em;
}

.top>div:not(:last-child) {
	text-align: center;
}

.top div:last-child,
.about div:last-child {
	display: flex;
	flex-direction: column;
	text-align: center;
}


section>.title {
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 4em 2em;
}

.title-num {
	font-size: 1.5rem;
}

.final>.title {
	padding-block-end: 0;
}

.cards {

	padding-inline: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-inline: auto;
}

.white-text {
	color: var(--nav-hover-color);
	opacity: 0;
	visibility: hidden;
	/* Prevents clicks/interactions while hidden */
}

.card {
	left: 10%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 0.75rem;
	padding: 2rem;
	background-color: var(--primary-background-color);
	width: min(37rem, 100%);
	height: 22rem;
	transition: transform 0.2s ease-in-out;
}

.final {
	display: flex;
	flex-direction: column;
	gap: 5em;
	color: white;
	border-top: 1px white dashed;
	/*background-color: rgb(23, 16, 16); */
	background-color: var(--primary-background-color);
	padding-inline: 2em;
}

.dev img {
	max-width: 100%;
	z-index: 2;
}

.dev {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1em;
	text-align: center;
	margin-inline: auto;
	max-width: 40rem;
}

.vertical-line {
	margin-inline: auto;
	height: 7rem;
	width: 1px;
	background-color: white;
}

.about {
	margin-inline: auto;
}

footer {
	text-align: center;
	padding-inline: 2em;
	margin-bottom: 2em;
}


footer>div:not(.socials) {
	font-size: 5rem;
	font-weight: 800;
	color: transparent;
	-webkit-text-stroke: 1px white;
	line-height: 1;
	margin-block: 2rem;
}

.socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}


.btn {
	display: flex;
	/* Enables centering */
	justify-content: center;
	/* Centers text horizontally */
	align-items: center;
	/* Centers text vertically */
	margin-inline: auto;
	color: black;
	text-decoration: none;
	border: 2px solid white;
	background-color: white;
	padding: 8px 30px;
	/* Adjusted padding for better text balance */
	font-size: 2rem;
	text-align: center;
	border-radius: 2em;
	font-weight: 600;
	width: fit-content;
	/* Adapts width to content */
	min-width: 10vw;
	/* Ensures some width */
}

.btn:hover {
	background-color: rgb(23, 16, 16);
	color: rgb(255, 255, 255);
	cursor: pointer;
}


.text-spin {
	overflow-x: hidden;
	color: transparent;
	-webkit-text-stroke: 1px white;
	font-size: 5rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	font-weight: 800;
	top: 10%;
	left: -2em;
	line-height: 0.9;
}

.first-line,
.second-line,
.third-line {
	display: flex;
}

.first-line>div {
	animation: marquee 20s infinite reverse;
}

.second-line>div {
	animation: marquee 25s infinite;
}

.third-line>div {
	animation: marquee 25s infinite reverse;
}

@keyframes marquee {
	from {
		translate: 0% 0;
	}

	to {
		translate: -100% 0;
	}
}

.founder-name {
	font-family: var(--body-text-font);
	text-transform: none;
	font-size: 3rem;
}

.founder-title {
	font-family: var(--body-text-font);
	text-transform: none;
	font-size: 2rem;
}

.founder-description {
	margin-inline: 1vh;
	font-family: var(--body-text-font);
	line-height: 2;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 1px;
	z-index: 2;
	text-transform: none;
	color: black;
	font-size: 1.5rem;
}

.founder-description-box {
	padding: 30px;
	background-color: var(--tile-background-color);
	border-radius: 0.5vw;
	box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	justify-content: center;
	text-align: justify;
	font-size: 1.3rem;
	margin: 0 auto;
	/* This will center the box horizontally */

}


@media (orientation: landscape) {
	/* Desktop */

	body {
		overflow-x: hidden !important;
	}

	html,
	body {
		width: 100%;
		max-width: 100%;
		overflow-x: hidden;
	}

	.text-spin {
		left: -250%;
		font-size: 8rem;
	}



	.socials {
		flex-direction: row;
	}

	.btn {
		margin: 0;
	}

	.right {
		translate: 0 50%;
	}

	.right {
		text-align: right;
	}

	.page>.right {
		width: 40%;
	}

	.top>div:last-child,
	.about>div:last-child {
		margin-top: 2em;
		flex-direction: row;
		justify-content: center;
		gap: 2em;
	}

	.avatars .thin {
		font-size: 0.85rem;
	}

	.avatars .fat {
		font-size: 3.5rem;
	}

	.top>div:last-child div,
	.about>div:last-child div {
		width: 40%;
	}

	.avatars section .top {
		padding-block: 10em;
	}

	section>.title {
		padding-block: 5em;
	}

	.roadmap .cards {
		justify-content: start;
	}



}

@media (orientation: portrait) {
	/* Mobile */


	body {
		overflow-x: hidden;
		/* Prevents horizontal scrolling */
		touch-action: pan-y;
		/* Ensures smooth vertical scrolling */
	}

	.Header-swimlane {
		height: 5vh;
	}

	.Header-swimlane-Text {
		font-size: 1.2rem;
		font-weight: 600;
		top: 1.5%;
		left: 15%;

	}

	header {
		top: 5vh;
		font-size: 1.5rem;
		height: 8.5vh;
		padding: 0vh;
		left: 5.05vh;

	}

	.page1-section{
		min-height: 100vh;
		max-height: 100vh;
	}

	.page1-text-container{
		top: -30vh !important;
		left: 50%;
		transform: translateX(-50%);  /* This will center it horizontally */
	}

	.shining-text {

        font-size: 4rem; /* Adjust font size if necessary */
    }

	.background-video {
		display: block;
		/* Show the video on mobile devices */
	}

	.header-image {
		display: none;
	}

	header h1 {
		position: relative;
		left: 20% !important;
		transform: translateX(-50%) !important;
	}

	/* hide the cross button */

	.change .line-1,
	.change .line-2,
	.change .line-3 {
		transform: none !important;
		opacity: 1 !important;
		visibility: visible !important;
	}

	.logo-wrapper {
		width: 5.05vh;
		height: 5vh;
	}

	.blog-header {
		width: 100%;
		font-size: 2.8rem;
		margin-left: 10vw;

	}

	.fat {
		/* founder name */
		font-size: 2.8rem;
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
		margin-bottom: 1em;
		/* Adjust the space as needed */
	}

	/* Adjust the space as needed for founder image */
	.dev img {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.founder-name {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.founder-title {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.thin {
		position: relative;
		/* Set the parent to relative to enable positioning */
		width: 300px;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.thin-jp {
		position: relative;
		/* Set the parent to relative to enable positioning */
		font-size: 1.5rem;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.founder-description-box {
		margin-left: 9dvw;
		width: 90%;
	}

	/* hide the 2nd vertical line in mobile view */
	body>div.container>section.final>div:nth-child(6) {
		display: none !important;
	}

	footer>div:not(.socials) {
		margin-inline: auto;
		margin-left: 2vh;
		width: 92vw;
		font-size: 2rem;
	}

	.socials {
		width: 92vw;
		display: flex;
		flex-direction: column;
		/* Stack buttons vertically */
		align-items: center;
		/* Center buttons */
		gap: 10px;
		/* Add spacing between buttons */
	}

	.btn {
		padding: 1vw 4vw;
		width: 40%;
		text-align: center;

	}

	/* footer-message text */
	.footer-message {
		position: relative;
		/* Set the parent to relative to enable positioning */
		left: 50% !important;
		transform: translateX(-50%) !important;
	}

	body>div.container>section.final>footer>p {
		width: 90vw;
		position: relative;
		/* Set the parent to relative to enable positioning */
		margin-bottom: 20px;
		left: 1vh;
		text-align: center;
		font-size: 8px;
	}

	.page .right {
		/* Correct way to target <div class="right"> inside .page */
		margin-top: 5em;
	}

	.cards {
		flex-direction: column;
		/* Stack cards for better fit */
	}

	.card {

		position: relative;
		width: 150%;
		left: 55% !important;
		transform: translateX(-50%) !important;
	}

	.designer-footer {
		bottom: 5px;
		/* Adjust spacing from bottom */
		right: 0%;
		/* Adjust spacing from right */
		opacity: 0;
		transform: scale(0.5);
	}

	.footer-branding {
		padding-bottom: 3vh;
		margin-left: 9vw;
		text-align: center;
	}

	.vertical-line {
		display: none !important;
	}

	#form {
		display: none !important;
		/* Hides the contact us form */
	}

}